<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general-fragments :: head('YNPay :: Admin Panel')}"></head>

<body class="svgstroke-a" data-theme="theme-AppleGreen">
<main class="container-fluid px-0">
	<!-- start: page menu link -->
	<div th:replace="~{fragments/general-fragments :: sidebar}"></div>
	<div class="content">
		<!-- start: page header -->
		<div th:replace="~{fragments/general-fragments :: main-header('Admin Panel')}"></div>
		<!-- start: page header area -->
		<div class="px-xl-5 px-lg-4 px-3 py-2 page-header flex-wrap">
			<ol class="breadcrumb mb-0 bg-transparent mb-3 mb-sm-0">
				<li class="breadcrumb-item">
					<a class="text-muted" href="index.html" title="home" th:href="@{/ui/users/dashboard}">Home</a>
				</li>
				<li
						aria-current="page"
						class="breadcrumb-item active"
						title="Balance"
				>
					Admin Panel
				</li>
			</ol>
			<ul class="list-unstyled action mb-0 row g-2">
				<li class="col-sm-6 col-6">
					<div>
						<input class="form-control" name="filter" type="date"/>
					</div>
				</li>
				<li class="dropdown col-sm-6 col-6">
					<a
							aria-expanded="false"
							class="btn border rounded fw-medium w-100"
							data-bs-auto-close="outside"
							data-bs-toggle="dropdown"
							href="#"
					>
						<svg
								class="svg-stroke"
								fill="none"
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								viewBox="0 0 24 24"
								width="18"
								xmlns="http://www.w3.org/2000/svg"
						>
							<path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
							<path
									d="M4 4h16v2.172a2 2 0 0 1 -.586 1.414l-4.414 4.414v7l-6 2v-8.5l-4.48 -4.928a2 2 0 0 1 -.52 -1.345v-2.227z"
							></path>
						</svg>
						Filter
					</a>
					<div
							class="dropdown-menu dropdown-menu-end p-2 p-xl-3 shadow rounded-4"
							style="width: 300px"
					>
						<h6>Filter Options</h6>
						<div class="row g-3 mt-3">
							<div class="col-12">
								<label class="form-label small text-muted"
								>Sorted by:</label
								>
								<input
										class="form-control"
										placeholder="Search"
										type="search"
								/>
							</div>
							<div class="col-12">
								<label class="form-label small text-muted">Status:</label>
								<select class="form-select">
									<option selected="">Choose...</option>
									<option>...</option>
								</select>
							</div>
							<div class="col-12">
								<label class="form-label small text-muted"
								>Notifications:</label
								>
								<div class="form-check form-switch">
									<input
											class="form-check-input"
											role="switch"
											type="checkbox"
									/>
									<label class="form-check-label">Enabled</label>
								</div>
							</div>
							<div class="col-12 text-end mt-4">
								<button class="btn btn-sm btn-light me-1" type="reset">
									Reset
								</button>
								<button class="btn btn-sm btn-primary" type="submit">
									Apply
								</button>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<!-- start: page body area -->
		<div class="px-xl-5 px-lg-4 px-3 py-3 page-body">
			<div class="row">
				<div class="col-xxl-6 col-xl-12 col-lg-12">
					<div class="card mb-3">
						<div class="card-header">
							<h6 class="card-title mb-0">Transactions Overview</h6>
						</div>
						<div class="card-body">
							<div id="apex-basic-column"></div>
						</div>
					</div>
				</div>

				<div class="col-xxl-6 col-xl-12 col-lg-12">
					<div class="card mb-3">
						<div class="card-header">
							<h6 class="card-title mb-0">Users Overview</h6>
						</div>
						<div class="card-body">
							<div id="apex-chart-line-column" style="height: 280px"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="px-xl-5 px-lg-4 px-3 py-3 page-body">
			<div class="row">
				<div class="col-12">
					<div class="border p-4 rounded-2 rounded-4 card">
						<div
								class="calendar-tab pb-4"
								style="--dynamic-color: var(--primary-color)"
						>
							<ul
									class="nav nav-pills text-muted text-uppercase"
									role="tablist"
							>
								<li class="nav-item">
									Sun
									<button
											class="nav-link disabled"
											data-bs-toggle="pill"
											data-bs-target="#c_date_1"
											type="button"
											role="tab"
									>
										01
									</button>
								</li>
								<li class="nav-item">
									Mon
									<button
											class="nav-link disabled"
											data-bs-toggle="pill"
											data-bs-target="#c_date_2"
											type="button"
											role="tab"
									>
										02
									</button>
								</li>
								<li class="nav-item">
									Tue
									<button
											class="nav-link disabled"
											data-bs-toggle="pill"
											data-bs-target="#c_date_3"
											type="button"
											role="tab"
									>
										03
									</button>
								</li>
								<li class="nav-item">
									Wed
									<button
											class="nav-link disabled"
											data-bs-toggle="pill"
											data-bs-target="#c_date_4"
											type="button"
											role="tab"
									>
										04
									</button>
								</li>
								<li class="nav-item">
									Thu
									<button
											class="nav-link disabled"
											data-bs-toggle="pill"
											data-bs-target="#c_date_5"
											type="button"
											role="tab"
									>
										05
									</button>
								</li>
								<li class="nav-item">
									Fri
									<button
											class="nav-link disabled"
											data-bs-toggle="pill"
											data-bs-target="#c_date_6"
											type="button"
											role="tab"
									>
										06
									</button>
								</li>
								<li class="nav-item">
									Sat
									<button
											class="nav-link disabled"
											data-bs-toggle="pill"
											data-bs-target="#c_date_7"
											type="button"
											role="tab"
									>
										07
									</button>
								</li>
								<li class="nav-item">
									Sun
									<button
											class="nav-link disabled"
											data-bs-toggle="pill"
											data-bs-target="#c_date_8"
											type="button"
											role="tab"
									>
										08
									</button>
								</li>
								<li class="nav-item">
									Mon
									<button
											class="nav-link disabled"
											data-bs-toggle="pill"
											data-bs-target="#c_date_9"
											type="button"
											role="tab"
									>
										09
									</button>
								</li>
								<li class="nav-item">
									Tue
									<button
											class="nav-link disabled"
											data-bs-toggle="pill"
											data-bs-target="#c_date_10"
											type="button"
											role="tab"
									>
										10
									</button>
								</li>
								<li class="nav-item">
									Wed
									<button
											class="nav-link disabled"
											data-bs-toggle="pill"
											data-bs-target="#c_date_11"
											type="button"
											role="tab"
									>
										11
									</button>
								</li>
								<li class="nav-item">
									Thu
									<button
											class="nav-link disabled"
											data-bs-toggle="pill"
											data-bs-target="#c_date_12"
											type="button"
											role="tab"
									>
										12
									</button>
								</li>
								<li class="nav-item">
									Fri
									<button
											class="nav-link disabled"
											data-bs-toggle="pill"
											data-bs-target="#c_date_13"
											type="button"
											role="tab"
									>
										13
									</button>
								</li>
								<li class="nav-item">
									Sat
									<button
											class="nav-link disabled"
											data-bs-toggle="pill"
											data-bs-target="#c_date_14"
											type="button"
											role="tab"
									>
										14
									</button>
								</li>
								<li class="nav-item">
									Sun
									<button
											class="nav-link disabled"
											data-bs-toggle="pill"
											data-bs-target="#c_date_15"
											type="button"
											role="tab"
									>
										15
									</button>
								</li>
								<li class="nav-item">
									Sun
									<button
											class="nav-link disabled"
											data-bs-toggle="pill"
											data-bs-target="#c_date_16"
											type="button"
											role="tab"
									>
										16
									</button>
								</li>
								<li class="nav-item">
									Mon
									<button
											class="nav-link disabled"
											data-bs-toggle="pill"
											data-bs-target="#c_date_17"
											type="button"
											role="tab"
									>
										17
									</button>
								</li>
								<li class="nav-item">
									Tue
									<button
											class="nav-link disabled"
											data-bs-toggle="pill"
											data-bs-target="#c_date_18"
											type="button"
											role="tab"
									>
										18
									</button>
								</li>
								<li class="nav-item">
									Wed
									<button
											class="nav-link disabled"
											data-bs-toggle="pill"
											data-bs-target="#c_date_19"
											type="button"
											role="tab"
									>
										19
									</button>
								</li>
								<li class="nav-item">
									Thu
									<button
											class="nav-link disabled"
											data-bs-toggle="pill"
											data-bs-target="#c_date_20"
											type="button"
											role="tab"
									>
										20
									</button>
								</li>
								<li class="nav-item">
									Fri
									<button
											class="nav-link disabled"
											data-bs-toggle="pill"
											data-bs-target="#c_date_21"
											type="button"
											role="tab"
									>
										21
									</button>
								</li>
								<li class="nav-item">
									Sat
									<button
											class="nav-link disabled"
											data-bs-toggle="pill"
											data-bs-target="#c_date_22"
											type="button"
											role="tab"
									>
										22
									</button>
								</li>
								<li class="nav-item">
									Sun
									<button
											class="nav-link disabled"
											data-bs-toggle="pill"
											data-bs-target="#c_date_23"
											type="button"
											role="tab"
									>
										23
									</button>
								</li>
								<li class="nav-item">
									Mon
									<button
											class="nav-link disabled"
											data-bs-toggle="pill"
											data-bs-target="#c_date_24"
											type="button"
											role="tab"
									>
										24
									</button>
								</li>
								<li class="nav-item">
									Tue
									<button
											class="nav-link disabled"
											data-bs-toggle="pill"
											data-bs-target="#c_date_25"
											type="button"
											role="tab"
									>
										25
									</button>
								</li>
								<li class="nav-item">
									Wed
									<button
											class="nav-link disabled"
											data-bs-toggle="pill"
											data-bs-target="#c_date_26"
											type="button"
											role="tab"
									>
										26
									</button>
								</li>
								<li class="nav-item">
									Thu
									<button
											class="nav-link disabled"
											data-bs-toggle="pill"
											data-bs-target="#c_date_27"
											type="button"
											role="tab"
									>
										27
									</button>
								</li>
								<li class="nav-item">
									Fri
									<button
											class="nav-link disabled"
											data-bs-toggle="pill"
											data-bs-target="#c_date_28"
											type="button"
											role="tab"
									>
										28
									</button>
								</li>
								<li class="nav-item">
									Sat
									<button
											class="nav-link disabled"
											data-bs-toggle="pill"
											data-bs-target="#c_date_29"
											type="button"
											role="tab"
									>
										29
									</button>
								</li>
								<li class="nav-item">
									Sun
									<button
											class="nav-link disabled"
											data-bs-toggle="pill"
											data-bs-target="#c_date_30"
											type="button"
											role="tab"
									>
										30
									</button>
								</li>

								<li class="nav-item">
									Mon
									<button
											class="nav-link disabled"
											data-bs-toggle="pill"
											data-bs-target="#c_date_31"
											type="button"
											role="tab"
									>
										31
									</button>
								</li>
							</ul>
						</div>

						<form th:action="@{/ui/users/stocks}" method="post" th:object="${stockOrder}">
							<table class="table align-middle table-hover dataTable table-body table-responsive w-100">
								<thead>
								<tr class="small text-muted text-uppercase">
									<th class="border" style="border-top-left-radius:1rem;">Symbol</th>
									<th class="border">Date</th>
									<th class="border">Holdings</th>
									<th class="border">Price</th>
									<th class="border">Amount</th>
									<th class="border">Options</th>
									<th class="border" style="border-top-right-radius:1rem;">Chart</th>
								</tr>
								</thead>
								<tbody>
								<tr class="row-selectable" th:each="stock, iterStat : ${stocks}">
									<td class="border">
                                    <span class="d-flex align-items-center">
                                      <img
		                                      class="rounded-circle d-none d-sm-inline-block"
		                                      src="../static/images/stock-icons/AAPL.png"
		                                      th:src="@{/images/stock-icons/{symbol}.png(symbol=${stock.key})}"
		                                      alt=""
		                                      width="25px"
		                                      height="30px"
                                      />
                                      <span class="flex-fill ms-3">
                                        <span class="h6 mb-0" th:text="${stock.key}">AAPL</span>
                                      </span>
                                    </span>
										<input type="hidden" th:field="*{symbols[__${iterStat.index}__]}"
										       th:value="${stock.key}"/>
									</td>
									<td class="border" th:text="${#temporals.format(stock.value.values[0].getDatetime(), 'yyyy-MM-dd HH:mm:ss')}">7 March 2025</td>

									<td class="border user-stock" th:text="${userStocks[stock.key] != null ? userStocks[stock.key] : 0}">0</td>

									<input type="hidden" th:field="*{prices[__${iterStat.index}__]}"
									       th:value="${stock.value.values[0].close}"/>
									<td class="border" th:text="${stock.value.values[0].close}"></td>


									<td class="border" style="width:15rem;">
										<input type="number" class="form-control" placeholder="Enter amount" min="0" step="any"
										       th:field="*{quantities[__${iterStat.index}__]}" required/>
									</td>
									<td class="border">
										<div class="d-flex">
											<input type="hidden"  th:field="*{directions[__${iterStat.index}__]}"/>

											<button type="button"
											        class="btn btn-outline-primary flex-fill me-2 btn-toggle green-btn btn-buy"
											        title="Buy">
												Buy
											</button>
											<button type="button"
											        class="btn btn-outline-danger flex-fill btn-toggle red-btn btn-sell"
											        title="Sell"
											        th:classappend="${userStocks[stock.key] == null ? 'disabled' : ''}">
												Sell
											</button>
										</div>
									</td>

									<td class="border">
										<button type="button"
										        class="btn btn-outline-secondary w-100 btn-custom updateButton"
										        th:data-symbol="${stock.key}"
										        title="Update Chart">
											<svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
											     fill="none" viewBox="0 0 24 24" stroke="currentColor">
												<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
												      d="M4 4v16h16M8 12l3-3 4 4 5-5"/>
											</svg>
										</button>
									</td>
								</tr>
								</tbody>
								<tr class="no-hover">
									<td class="border-top no-hover"></td>
									<td class="border-top no-hover"></td>
									<td class="border-top no-hover"></td>
									<td class="border-top no-hover"></td>
									<td class="border-top no-hover"></td>
									<td class="border-top no-hover" colspan="2">
										<div class="d-flex align-items-center text-center">
											<button type="submit" class="btn btn-outline-secondary text-dark flex-fill me-2" id="submit-order"
											        title="Finish Order">
												Finish Order
											</button>
										</div>
									</td>
								</tr>
							</table>
						</form>
					</div>
				</div>

			</div>
		</div>
	</div>
</main>



<div th:replace="~{fragments/general-fragments :: exchange-rate}"></div>

<th:block th:replace="~{fragments/general-fragments.html :: scripts}"></th:block>

<script src="../static/bundles/dataTables.bundle.js" th:src="@{/bundles/dataTables.bundle.js}"></script>

<link href="../static/vendor/dataTables.css" rel="stylesheet" th:href="@{/vendor/dataTables.css}"/>

<script th:inline="javascript">

    const conversionRates = {
        EUR: 1.09,
        GBP: 1.30,
        USD: 1,
    };

    const today = new Date().getDate();

    let allDates = document.querySelectorAll('.nav-link');


    allDates.forEach(date => {
        let dateNumber = parseInt(date.textContent);

        if (dateNumber === today) {
            date.classList.add('active');
        }
    });

    document.addEventListener("DOMContentLoaded", function () {
        // Scroll handling for .calendar-tab .nav
        const scrollContainer = document.querySelector(".calendar-tab .nav");
        if (scrollContainer) {
            scrollContainer.addEventListener("wheel", (evt) => {
                evt.preventDefault();
                scrollContainer.scrollLeft += evt.deltaY;
            });
        }
    });

    $(document).ready(function () {
        // Initialize DataTable
        let usersTable = $('#usersTable').DataTable({
            responsive: true,
        });

        let investmentsTable = $('#investmentsTable').DataTable({
            responsive: true,
            "columnDefs": [
                {
                    "targets": 3,
                    "render": function (data, type, row) {

                        if (type === 'display') {
                            return data;
                        }

                        let num = data.match(/[-+]?[0-9]*\.?[0-9]+/);
                        return num ? parseFloat(num[0]) : data;
                    },
                    "orderDataType": "numeric"
                }
            ]
        });

        let transfersTable = $('#transfersTable').DataTable({
            responsive: true,
            "columnDefs": [
                {
                    "targets": 1,
                    "render": function (data, type, row) {


                        if (type === 'display') {
                            return data;
                        }

                        let rate = conversionRates[data.slice(-3)];

                        let num = data.match(/[-+]?[0-9]*\.?[0-9]+/);
                        return num ? parseFloat(num[0]) * rate : data;
                    },
                    "orderDataType": "numeric"
                }
            ]
        });

        $('#transfersTable_wrapper').hide();
        $('#investmentsTable_wrapper').hide();

        $('#usersTab').on('click', function () {
            $(this).addClass('active');
            $('#transfersTab').removeClass('active');
            $('#investmentsTab').removeClass('active');
            $('#usersTable_wrapper').show();
            $('#transfersTable_wrapper').hide();
            $('#investmentsTable_wrapper').hide();
            usersTable.columns.adjust().responsive.recalc();
        });

        $('#investmentsTab').on('click', function () {
            $(this).addClass('active');
            $('#transfersTab').removeClass('active');
            $('#usersTab').removeClass('active');
            $('#investmentsTable_wrapper').show();
            $('#usersTable_wrapper').hide();
            $('#transfersTable_wrapper').hide();
            investmentsTable.columns.adjust().responsive.recalc();
        });

        $('#transfersTab').on('click', function () {
            $(this).addClass('active');
            $('#usersTab').removeClass('active');
            $('#investmentsTab').removeClass('active');
            $('#transfersTable_wrapper').show();
            $('#usersTable_wrapper').hide();
            $('#investmentsTable_wrapper').hide();
            transfersTable.columns.adjust().responsive.recalc();
        });
    });

    $(document).ready(function () {

        var users = /*[[${users}]]*/ [];

        var monthLabels = [];
        var createdCounts = Array(12).fill(0);
        var verifiedCounts = Array(12).fill(0);

        var now = new Date();
        var currentYear = now.getFullYear();
        var currentMonth = now.getMonth();


        for (let i = 0; i < 12; i++) {
            let month = new Date(currentYear, currentMonth - i, 1);
            monthLabels.unshift(month);
        }



        users.forEach(user => {
            let createdAt = new Date(user.createdAt);
            let verifiedAt = user.verifiedAt ? new Date(user.verifiedAt) : null;

            for (let i = 0; i < 12; i++) {
                let month = new Date(currentYear, currentMonth - i, 1);

                if (
                    createdAt.getFullYear() === month.getFullYear() &&
                    createdAt.getMonth() === month.getMonth()
                ) {
                    createdCounts[11-i]++;
                }

                if (
                    verifiedAt &&
                    verifiedAt.getFullYear() === month.getFullYear() &&
                    verifiedAt.getMonth() === month.getMonth()
                ) {
                    verifiedCounts[11-i]++;
                }
            }
        });


        let formattedLabels = monthLabels.map(dateStr => {
            let date = new Date(dateStr);
            return date.toLocaleString("en-US", { month: "short" }).slice(0, 3);
        });


        // Create the chart
        var options = {
            chart: {
                height: 500,
                type: "line",
                toolbar: {
                    show: false,
                },
            },
            colors: ["var(--theme-color2)", "var(--theme-color4)"],
            series: [
                {
                    name: "Created Users",
                    type: "column",
                    data: createdCounts,
                },
                {
                    name: "Verified Users",
                    type: "line",
                    data: verifiedCounts,
                },
            ],
            stroke: {
                width: [0, 4],
            },
            labels: formattedLabels,
            xaxis: {
                type: "category",
            },
            yaxis: [
                {
                    title: {
                        text: "Registered Users",
                    },
                },
                {
                    opposite: true,
                    title: {
                        text: "Verified Users",
                    },
                },
            ],
            tooltip: {
                theme: "dark",
            },
        };

        var chart = new ApexCharts(
            document.querySelector("#apex-chart-line-column"),
            options
        );
        chart.render();
    });

    $(document).ready(function () {

        var transactions = /*[[${transactions}]]*/[];

        var investments = /*[[${investments}]]*/[];




        let depositCounts = Array(12).fill(0);
        let transferCounts = Array(12).fill(0);
        let monthLabels = [];


        const currentDate = new Date();
        const currentMonth = currentDate.getMonth();
        const currentYear = currentDate.getFullYear();


        for (let i = 0; i < 12; i++) {
            let month = new Date(currentYear, currentMonth - i, 1);
            monthLabels.unshift(month);
        }

        let investmentCounts = Array(12).fill(0);

        investments.forEach((investment) => {
            const purchaseDate = new Date(investment.purchasedAt);
            const purchaseMonth = purchaseDate.getMonth();
            const purchaseYear = purchaseDate.getFullYear();

            const monthDiff = currentMonth - purchaseMonth + (currentYear - purchaseYear) * 12;
            if (monthDiff >= 0 && monthDiff < 12) {
                investmentCounts[11 - monthDiff] += investment.totalOrderValue;
            }
        });


        let formattedLabels = monthLabels.map(dateStr => {
            let date = new Date(dateStr);
            return date.toLocaleString("en-US", { month: "short" }).slice(0, 3);
        });


        transactions.forEach((transaction) => {

            const transactionDate = new Date(transaction.transactionTime);
            const transactionMonth = transactionDate.getMonth();
            const transactionYear = transactionDate.getFullYear();


            const conversionRate = conversionRates[transaction.currency];
            const amountInUSD = transaction.amount * conversionRate;

            const monthDiff = currentMonth - transactionMonth + (currentYear - transactionYear) * 12;

            if (monthDiff >= 0 && monthDiff < 12) {

                if (transaction.transactionType === "Deposit") {
                    depositCounts[11 - monthDiff] += amountInUSD;
                } else if (transaction.transactionType === "Internal Transfer") {
                    transferCounts[11 - monthDiff] += amountInUSD;
                }
            }
        });

        var options = {
            chart: {
                height: 500,
                type: "bar",
            },
            colors: [
                "var(--theme-color2)",
                "var(--theme-color3)",
	            "var(--theme-color4)",
            ],
            plotOptions: {
                bar: {
                    horizontal: false,
                    columnWidth: "55%",
                    endingShape: "rounded",
                },
            },
            dataLabels: {
                enabled: false,
            },
            stroke: {
                show: true,
                width: 2,
                colors: ["transparent"],
            },
            series: [
                {
                    name: "Deposits",
                    data: depositCounts,
                },
                {
                    name: "Internal Transfers",
                    data: transferCounts,
                },
                {
                    name: "Investments",
                    data: investmentCounts,
                },
            ],
            xaxis: {
                categories: formattedLabels,
            },
            yaxis: {
	            labels:{
                    formatter: function(val) {
                        return "$ " + val.toFixed(2); // Limits the decimal places to 2 for Y-axis labels
                    },
	            }
            },
            fill: {
                opacity: 1,
            },
            tooltip: {
                theme: "dark",
                y: {
                    formatter: function (val) {
                        return "$ " + val.toFixed(2);
                    },
                },
            },
        };


        var chart = new ApexCharts(
            document.querySelector("#apex-basic-column"),
            options
        );
        chart.render();
    });

    function showFullScreen(img) {
        const fullScreenDiv = document.createElement("div");
        fullScreenDiv.style.position = "fixed";
        fullScreenDiv.style.top = "0";
        fullScreenDiv.style.left = "0";
        fullScreenDiv.style.width = "100vw";
        fullScreenDiv.style.height = "100vh";
        fullScreenDiv.style.backgroundColor = "rgba(0, 0, 0, 0.8)";
        fullScreenDiv.style.display = "flex";
        fullScreenDiv.style.justifyContent = "center";
        fullScreenDiv.style.alignItems = "center";
        fullScreenDiv.style.zIndex = "99999";

        const fullScreenImg = document.createElement("img");
        fullScreenImg.src = img.src;
        fullScreenImg.style.maxWidth = "90%";
        fullScreenImg.style.maxHeight = "90%";
        fullScreenImg.style.borderRadius = "10px";
        fullScreenImg.style.boxShadow = "0 4px 10px rgba(0,0,0,0.3)";

        fullScreenDiv.appendChild(fullScreenImg);

        fullScreenDiv.onclick = function() {
            document.body.removeChild(fullScreenDiv);
        };

        document.body.appendChild(fullScreenDiv);
    }
</script>


</body>
</html>
