<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/general-fragments :: head('YNPay :: Login')}"></head>

<body data-theme="theme-AppleGreen" class="svgstroke-a">
     <nav class="navbar navbar-expand-md position-fixed top-0 w-100 body-color ">
          <div class="container-fluid">
               <a class="navbar-brand" href="index.html">
                    <img src="../static/images/favicon.ico" th:src="@{/images/favicon.ico}" alt="Logo" width="80" height="80"/>
               </a>
               <div class="d-flex d-sm-none">
                    <form>
                         <div class="dropdown position-relative">
                              <button class="btn border dropdown-toggle w-100" type="button" data-bs-toggle="dropdown"
                                   aria-expanded="false">eng</button>
                              <ul class="dropdown-menu dropdown-menu-end" style="">
                                   <li><a class="dropdown-item" href="#" onclick="selectLanguage('hi')">Hindi</a></li>
                                   <li><a class="dropdown-item" href="#" onclick="selectLanguage('bn')">Bengali</a></li>
                                   <li><a class="dropdown-item" href="#" onclick="selectLanguage('te')">Telugu</a></li>
                                   <li><a class="dropdown-item" href="#" onclick="selectLanguage('ta')">Tamil</a></li>
                                   <li><a class="dropdown-item" href="#" onclick="selectLanguage('mr')">Marathi</a></li>
                                   <li><a class="dropdown-item" href="#" onclick="selectLanguage('gu')">Gujarati</a>
                                   </li>
                                   <li><a class="dropdown-item" href="#" onclick="selectLanguage('kn')">Kannada</a></li>
                                   <li><a class="dropdown-item" href="#" onclick="selectLanguage('ml')">Malayalam</a>
                                   </li>
                              </ul>
                         </div>
                    </form>
                    <button class="navbar-toggler ms-3 d-none" type="button" data-bs-toggle="collapse"
                         data-bs-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                         <span class="navbar-toggler-icon"></span>
                    </button>
               </div>
               <div class="d-none d-sm-block">
                    <ul class="list-unstyled d-none">
                         <li class="nav-item dropdown px-md-1">
                              <a class="dropdown-toggle gray-6" href="#" id="bd-theme-one" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                   <svg width="20" height="20" fill="currentColor" viewBox="0 0 24 24"
                                        class="theme-icon-active">
                                        <use href="#sun-fill"></use>
                                   </svg>
                              </a>
                              <ul class="dropdown-menu dropdown-menu-end p-2 p-xl-3 shadow rounded-4"
                                   aria-labelledby="bd-theme-one" style="">
                                   <li class="mb-1">
                                        <a class="dropdown-item rounded-pill" href="#" data-bs-theme-value="light">
                                             <svg class="avatar xs me-2 opacity-50 theme-icon" fill="currentColor">
                                                  <use href="#sun-fill"></use>
                                             </svg>
                                             Light
                                        </a>
                                   </li>
                                   <li class="mb-1">
                                        <a class="dropdown-item rounded-pill active" href="#"
                                             data-bs-theme-value="dark">
                                             <svg class="avatar xs me-2 opacity-50 theme-icon" fill="currentColor">
                                                  <use href="#moon-stars-fill"></use>
                                             </svg>
                                             Dark
                                        </a>
                                   </li>
                                   <li class="mb-1">
                                        <a class="dropdown-item rounded-pill" href="#" data-bs-theme-value="auto">
                                             <svg class="avatar xs me-2 opacity-50 theme-icon" fill="currentColor">
                                                  <use href="#circle-half"></use>
                                             </svg>
                                             Auto
                                        </a>
                                   </li>
                              </ul>
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                   viewBox="0 0 16 16" style="display: none;">
                                   <symbol id="sun-fill" viewBox="0 0 16 16">
                                        <path
                                             d="M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z">
                                        </path>
                                   </symbol>
                                   <symbol id="moon-stars-fill" viewBox="0 0 16 16">
                                        <path
                                             d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z">
                                        </path>
                                        <path
                                             d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z">
                                        </path>
                                   </symbol>
                                   <symbol id="circle-half" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"></path>
                                   </symbol>
                              </svg>
                         </li>
                         <li class="nav-item dropdown px-md-1">
                              <a class="dropdown-toggle gray-6" href="#offcanvas_setting" data-bs-toggle="offcanvas"
                                   aria-expanded="false" title="template setting">
                                   <svg class="svg-stroke" xmlns="http://www.w3.org/2000/svg" width="22" height="22"
                                        viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path
                                             d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z">
                                        </path>
                                        <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                                   </svg>
                              </a>
                         </li>
                    </ul>
                    <p class="text-muted justify-content-center border rounded-2 d-flex align-items-center"
                       style="background: var(--bs-body-bg); height:2.5rem;">
                         <a class="w-100 fs-5 p-2"
                            href="sign-in.html" th:href="@{/auth/register}">Register
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                   viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                   stroke-linecap="round" stroke-linejoin="round"
                                   class=" svg-stroke">
                                   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                   <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                                   <path d="M16 19h6"></path>
                                   <path d="M19 16v6"></path>
                                   <path d="M6 21v-2a4 4 0 0 1 4 -4h4"></path>
                              </svg>



                         </a>
                    </p>
               </div>
          </div>
     </nav>
     <main class="container-fluid px-0">
          <!-- start: page menu link -->
          <div class="content">
               <!-- start: page body area -->
               <div class="row justify-content-center align-items-center my-5 py-5">
                    <div class=" col-lg-5 col-xl-4 col-7 mt-5">
                         <div class="card ">
                                   <div class="card-body">
                                        <div class="d-flex flex-column align-items-center ">
                                             <div class="no-thumbnail rounded-circle border bg-light p-2">
                                                  <div class="no-thumbnail rounded-circle border bg-white p-2">
                                                       <svg xmlns="http://www.w3.org/2000/svg" width="34" viewBox="0 0 24 24" fill="none"
                                                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                            <circle cx="12" cy="6" r="4"/>

                                                            <path d="M5 20c2-8 12-8 14 0"/>
                                                       </svg>

                                                  </div>
                                             </div>
                                             <div class="mt-3 text-center ">
                                                  <h4 class="text-capitalize text-center fw-bold">Sign in to your account
                                                  </h4>
                                                  <span class="text-muted text-capitalize" style="text-transform:none!important;">Please enter your credentials below</span>
                                             </div>
                                             <div class="mt-3 w-100">
                                                  <form class="form-horizontal" id="validateForm" action="/login" method="post">
                                                       <fieldset>
                                                            <!--=== email ===-->
                                                            <div class="mb-3">
                                                                 <label for="username" class="form-label">Username
                                                                      </label>
                                                                 <div class="input-group form-control p-0">
                                                                      <span class="input-group-text bg-transparent border-0">
                                                                           <svg xmlns="http://www.w3.org/2000/svg"
                                                                                width="20" viewBox="0 0 24 24"
                                                                                fill="none" stroke="currentColor"
                                                                                stroke-linecap="round"
                                                                                stroke-linejoin="round"
                                                                                class=" svg-stroke">
                                                                                <path stroke="none" d="M0 0h24v24H0z"
                                                                                     fill="none"></path>
                                                                                <path
                                                                                     d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z">
                                                                                </path>
                                                                                <path d="M3 7l9 6l9 -6"></path>
                                                                           </svg>
                                                                      </span>
                                                                      <input type="text"
                                                                           class="border-0 form-control remove-pseudo" name="username"
                                                                           id="username" required>
                                                                 </div>
                                                            </div>
                                                            <!-- Password input-->
                                                            <div class="form-group">
                                                                 <label for="password"
                                                                      class="form-label">Password</label>
                                                                 <div class="input-group form-control p-0">
                                                                      <span class="input-group-text bg-transparent border-0">
                                                                           <svg xmlns="http://www.w3.org/2000/svg"
                                                                                width="20" viewBox="0 0 24 24"
                                                                                fill="none" stroke="currentColor"
                                                                                stroke-linecap="round"
                                                                                stroke-linejoin="round"
                                                                                class=" svg-stroke">
                                                                                <path stroke="none" d="M0 0h24v24H0z"
                                                                                     fill="none"></path>
                                                                                <path
                                                                                     d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z">
                                                                                </path>
                                                                                <path d="M8 11v-4a4 4 0 1 1 8 0v4">
                                                                                </path>
                                                                                <path d="M15 16h.01"></path>
                                                                                <path d="M12.01 16h.01"></path>
                                                                                <path d="M9.02 16h.01"></path>
                                                                           </svg>
                                                                      </span>
                                                                      <input type="password"
                                                                           class="border-0 form-control remove-pseudo" name="password"
                                                                           id="password" required>
                                                                 </div>
                                                            </div>
                                                            <div th:if="${param.error}">
                                                                 <div class="alert alert-danger" role="alert" th:if="${param.error.get(0) == 'details'}">Invalid username or password. Please try again.</div>

                                                                 <div class="alert alert-danger" role="alert" th:if="${param.error.get(0) == 'email'}">Your email is not verified. Please verify your email and try again.</div>

                                                                 <div class="alert alert-danger" role="alert" th:if="${param.error.get(0)  == 'block'}">Your account is blocked. Please contact support.</div>
                                                            </div>
                                                            <!-- check -->
                                                            <div class="d-flex justify-content-between my-3">
                                                                 <div class="form-check ">
                                                                      <input
                                                                           class="form-check-input form-check-input-dark"
                                                                           type="checkbox" value="true" name="rememberme"
                                                                           id="flexCheckDefault">
                                                                      <label class="form-check-label"
                                                                           for="flexCheckDefault">Remember Me</label>
                                                                 </div>
                                                                 <a href="reset-password.html"
                                                                      class=" nav-link text-decoration-underline text-reverse fw-semibold text-capitalize" th:href="@{/auth/request-password}">forgot
                                                                      password</a>
                                                            </div>
                                                            <!-- Button -->
                                                            <div class="form-group">
                                                                 <button  class="btn btn-dark w-100" type="submit">Sign In</button>
                                                            </div>
                                                       </fieldset>
                                                  </form>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
<!--               </div>-->
          </div>
          <div aria-hidden="true" aria-labelledby="successModalLabel" class="modal fade" id="successModal"
               tabindex="-1">
               <div class="modal-dialog">
                    <div class="modal-content">
                         <div class="modal-header">
                              <h5 class="modal-title" id="successModalLabel">Success</h5>
                              <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                         </div>
                         <div class="modal-body">
                              <span th:if="${changeSuccess}" th:text="#{change-password.success}"  style="text-transform: none;"> </span>
                              <span th:if="${requestPasswordSuccess}" th:text="#{password-verification.sent}"></span>
                              <span th:if="${emailSuccess}" th:text="#{email-verification.success}"  style="text-transform: none;"> </span>
                              <span th:if="${registerSuccess}" th:text="#{register.success}"  style="text-transform: none;"> </span>
                              <span th:if="${userDeleted}"  th:text="#{user.delete.success}"  style="text-transform: none;"> </span>
                         </div>
                         <div class="modal-footer">
                              <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                         </div>
                    </div>
               </div>
          </div>


          <div aria-hidden="true" aria-labelledby="successModalLabel" class="modal fade" id="failureModal"
               tabindex="-1">
               <div class="modal-dialog">
                    <div class="modal-content">
                         <div class="modal-header">
                              <h5 class="modal-title" id="failureModalLabel">Failure</h5>
                              <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                         </div>
                         <div class="modal-body">
                              <span th:if="${emailFail}" th:text="#{email-verification.failure}"  style="text-transform: none;"> </span>
                              <span th:if="${passwordFail}" th:text="#{password-verification.failure}"></span>
                         </div>
                         <div class="modal-footer">
                              <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                         </div>
                    </div>
               </div>
          </div>
     </main>
     <footer class="w-100 bg-body position-fixed bottom-0">
          <div class="container-fluid">
               <div class="d-flex align-items-center">
                    <div class="p-0 m-0">
                         <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-reverse"
                            href="#" th:href="@{/home}">
                              @2025 YNPay</a>
                    </div>
               </div>
          </div>
     </footer>


     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" th:src="'https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js'"></script>

     <script th:if="${registerSuccess}" type="text/javascript">
          var modal = new bootstrap.Modal(document.getElementById('successModal'));
          modal.show();
     </script>

     <script th:if="${changeSuccess}" type="text/javascript">
          var modal = new bootstrap.Modal(document.getElementById('successModal'));
          modal.show();
     </script>

     <script th:if="${emailSuccess}" type="text/javascript">
          var modal = new bootstrap.Modal(document.getElementById('successModal'));
          modal.show();
     </script>

     <script th:if="${emailFail}" type="text/javascript">
          var modal = new bootstrap.Modal(document.getElementById('failureModal'));
          modal.show();
     </script>

     <script th:if="${passwordFail}" type="text/javascript">
          var modal = new bootstrap.Modal(document.getElementById('failureModal'));
          modal.show();
     </script>

     <script th:if="${userDeleted}" type="text/javascript">
          var modal = new bootstrap.Modal(document.getElementById('successModal'));
          modal.show();
     </script>

     <script th:if="${requestPasswordSuccess}" type="text/javascript">
          var modal = new bootstrap.Modal(document.getElementById('successModal'));
          modal.show();
     </script>

     <th:block th:replace="~{fragments/general-fragments.html :: scripts}"></th:block>
</body>

</html>