<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/general-fragments :: head('YNPay :: Settings')}"></head>

<body data-theme="theme-AppleGreen" class="svgstroke-a">
<main class="container-fluid px-0">
	<!-- start: page menu link -->
	<div th:replace="~{fragments/general-fragments :: sidebar}"></div>
	<div class="content">
		<!-- start: page header -->
		<header class="px-xl-5 px-lg-4 px-3 sticky-top" data-bs-theme="none">
			<div class="d-flex flex-wrap justify-content-sm-between align-items-center py-2 w-100">
				<div>
					<a href="index.html" title="logo" class="brand-icon d-sm-none">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="44" viewBox="0 0 24 24"
						     fill="none" stroke="var(--brand-color)" stroke-width="1" stroke-linecap="round"
						     stroke-linejoin="round">
							<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
							<path
									d="M19.875 6.27a2.225 2.225 0 0 1 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z">
							</path>
							<path
									d="M15.5 9.422c.312 .18 .503 .515 .5 .876v3.277c0 .364 -.197 .7 -.515 .877l-3 1.922a1 1 0 0 1 -.97 0l-3 -1.922a1 1 0 0 1 -.515 -.876v-3.278c0 -.364 .197 -.7 .514 -.877l3 -1.79c.311 -.174 .69 -.174 1 0l3 1.79h-.014z">
							</path>
						</svg>
						<div class="ms-3  logo-name">
							<h6 class="mb-0 title-font dark-rever-color">FintechWeb</h6>
						</div>
					</a>
					<h5 class="mb-0 d-none d-sm-block">Settings</h5>
					<span class="text-muted d-none d-sm-block">Settings</span>
				</div>
				<ul class="header-menu flex-grow-1 justify-content-between justify-content-sm-end">
					<li class="nav-item dropdown px-md-1">
						<a class="dropdown-toggle gray-6" href="#" id="bd-theme" data-bs-toggle="dropdown"
						   aria-expanded="false">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
							     viewBox="0 0 24 24" fill="none" stroke="currentColor"
							     stroke-linecap="round" stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
								<path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
								<path d="M21 21l-6 -6"></path>
							</svg>
						</a>
						<div class="dropdown-menu shadow dropdown-menu-end" style="width: 200px;">
							<form class="px-2">
								<input type="text" class="form-control">
							</form>
						</div>
					</li>
					<li class="nav-item py-2 py-md-1 col-auto d-none d-sm-flex">
						<div class="vr d-none d-sm-flex h-100 mx-sm-2"></div>
					</li>
					<!--[ Start:: notification ]-->
					<li class="nav-item dropdown px-md-1 d-none d-md-inline-flex">
						<a class="dropdown-toggle gray-6" href="#" role="button" data-bs-toggle="dropdown"
						   aria-expanded="false" title="notification">
							<span class="bullet-dot bg-primary animation-blink"></span>
							<svg class="svg-stroke" xmlns="http://www.w3.org/2000/svg" width="22"
							     height="22" viewBox="0 0 24 24" stroke="currentColor" fill="none"
							     stroke-linecap="round" stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
								<path
										d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6">
								</path>
								<path d="M9 17v1a3 3 0 0 0 6 0v-1"></path>
								<path d="M21 6.727a11.05 11.05 0 0 0 -2.794 -3.727"></path>
								<path d="M3 6.727a11.05 11.05 0 0 1 2.792 -3.727"></path>
							</svg>
						</a>
						<div class="dropdown-menu shadow rounded-4 notification" id="NotificationsDiv">
							<div class="card border-0">
								<div
										class="card-header d-flex justify-content-between align-items-center py-3">
									<h4 class="mb-0 text-gradient title-font">Notifications</h4>
									<a href="#" class="btn btn-link" title="view all">View all</a>
								</div>
								<ul class="card-body p-0 list-unstyled mb-0 custom_scroll ps-2"
								    style="height: 400px;">
									<li class="pe-2">
										<a class="d-flex p-lg-3 p-2 rounded-3"
										   href="javascript:void(0);">
											<div class="avatar sm">
												<svg class="svg-stroke"
												     xmlns="http://www.w3.org/2000/svg"
												     viewBox="0 0 24 24" stroke="currentColor"
												     fill="none" stroke-linecap="round"
												     stroke-linejoin="round">
													<path stroke="none" d="M0 0h24v24H0z" fill="none">
													</path>
													<path
															d="M7 11v8a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1v-7a1 1 0 0 1 1 -1h3a4 4 0 0 0 4 -4v-1a2 2 0 0 1 4 0v5h3a2 2 0 0 1 2 2l-1 5a2 3 0 0 1 -2 2h-7a3 3 0 0 1 -3 -3">
													</path>
												</svg>
											</div>
											<div class="flex-fill ms-3">
                                                                 <span class="d-flex justify-content-between">
                                                                      <small class="text-primary">Holiday Sale</small>
                                                                      <small class="text-muted">11:30 AM Today</small>
                                                                 </span>
												<p class="mb-0 mt-1">Your New Campaign sale live on
													themeforest and our store is approved.</p>
											</div>
										</a>
									</li>
									<li class="pe-2">
										<a class="d-flex p-lg-3 p-2 rounded-3"
										   href="javascript:void(0);">
											<div class="avatar sm">
												<svg class="svg-stroke"
												     xmlns="http://www.w3.org/2000/svg"
												     viewBox="0 0 24 24" stroke="currentColor"
												     fill="none" stroke-linecap="round"
												     stroke-linejoin="round">
													<path stroke="none" d="M0 0h24v24H0z" fill="none">
													</path>
													<path
															d="M8 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h5.697">
													</path>
													<path d="M18 14v4h4"></path>
													<path d="M18 11v-4a2 2 0 0 0 -2 -2h-2"></path>
													<path
															d="M8 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z">
													</path>
													<path
															d="M18 18m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0">
													</path>
													<path d="M8 11h4"></path>
													<path d="M8 15h3"></path>
												</svg>
											</div>
											<div class="flex-fill ms-3">
                                                                 <span class="d-flex justify-content-between">
                                                                      <small class="text-info">Reports</small>
                                                                      <small class="text-muted">04:00 PM Today</small>
                                                                 </span>
												<p class="mb-0 mt-1">Website visits from Twitter is 27%
													higher than last week.</p>
											</div>
										</a>
									</li>
									<li class="pe-2">
										<a class="d-flex p-lg-3 p-2 rounded-3 align-items-start"
										   href="javascript:void(0);">
											<img class="avatar sm rounded-circle"
											     th:src="@{/images/xs/avatar4.jpg}"
											     src="../static/images/xs/avatar4.jpg" alt="avatar">
											<div class="flex-fill ms-3">
                                                                 <span class="d-flex justify-content-between">
                                                                      <small class="text-warning">HTML Code</small>
                                                                      <small class="text-muted">1day</small>
                                                                 </span>
												<p class="mb-0 mt-1">Update new code in github and
													share deteail</p>
											</div>
										</a>
									</li>
									<li class="pe-2">
										<div class="d-flex p-lg-3 p-2 rounded-3">
											<img class="avatar sm rounded-circle"
											     th:src="@{/images/xs/avatar1.jpg}"
											     src="../static/images/xs/avatar1.jpg" alt="avatar">
											<div class="flex-fill ms-3">
                                                                 <span class="d-flex justify-content-between">
                                                                      <small class="text-success">New Request</small>
                                                                      <small class="text-muted">1day</small>
                                                                 </span>
												<p class="mb-0 mt-1">
													<strong>Tina Harris</strong>
													is requesting to upgrade Plan
												</p>
												<div class="mt-2">
													<a href="#"
													   class="btn btn-sm bg-accent text-white">Accept</a>
													<a href="#"
													   class="btn btn-sm btn-dark text-white">Decline</a>
												</div>
											</div>
										</div>
									</li>
									<li class="pe-2">
										<a class="d-flex p-lg-3 p-2 rounded-3"
										   href="javascript:void(0);">
											<div class="avatar sm">
												<svg class="svg-stroke"
												     xmlns="http://www.w3.org/2000/svg"
												     viewBox="0 0 24 24" stroke="currentColor"
												     fill="none" stroke-linecap="round"
												     stroke-linejoin="round">
													<path stroke="none" d="M0 0h24v24H0z" fill="none">
													</path>
													<path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0">
													</path>
													<path d="M12 8v4"></path>
													<path d="M12 16h.01"></path>
												</svg>
											</div>
											<div class="flex-fill ms-3">
                                                                 <span class="d-flex justify-content-between">
                                                                      <small class="text-danger">Error 404</small>
                                                                      <small class="text-muted">Yesterday</small>
                                                                 </span>
												<p class="mb-0 mt-1">FintechWeb admin template on
													website analytics configurations</p>
											</div>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<!--[ Start:: theme light/dark ]-->
					<li class="nav-item dropdown px-md-1">
						<a class="dropdown-toggle gray-6" href="#" id="bd-theme-one"
						   data-bs-toggle="dropdown" aria-expanded="false">
							<svg width="20" height="20" fill="currentColor" viewBox="0 0 24 24"
							     class="theme-icon-active">
								<use href="#sun-fill"></use>
							</svg>
						</a>
						<ul class="dropdown-menu dropdown-menu-end p-2 p-xl-3 shadow rounded-4"
						    aria-labelledby="bd-theme-one">
							<li class="mb-1">
								<a class="dropdown-item rounded-pill" href="#" data-bs-theme-value="light">
									<svg class="avatar xs me-2 opacity-50 theme-icon" fill="currentColor">
										<use href="#sun-fill"></use>
									</svg>
									Light
								</a>
							</li>
							<li class="mb-1">
								<a class="dropdown-item rounded-pill active" href="#"
								   data-bs-theme-value="dark">
									<svg class="avatar xs me-2 opacity-50 theme-icon" fill="currentColor">
										<use href="#moon-stars-fill"></use>
									</svg>
									Dark
								</a>
							</li>
							<li class="mb-1">
								<a class="dropdown-item rounded-pill" href="#" data-bs-theme-value="auto">
									<svg class="avatar xs me-2 opacity-50 theme-icon" fill="currentColor">
										<use href="#circle-half"></use>
									</svg>
									Auto
								</a>
							</li>
						</ul>
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
						     viewBox="0 0 16 16" style="display: none;">
							<symbol id="sun-fill" viewBox="0 0 16 16">
								<path
										d="M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z">
								</path>
							</symbol>
							<symbol id="moon-stars-fill" viewBox="0 0 16 16">
								<path
										d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z">
								</path>
								<path
										d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z">
								</path>
							</symbol>
							<symbol id="circle-half" viewBox="0 0 16 16">
								<path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"></path>
							</symbol>
						</svg>
					</li>

					<!--[ Start:: person menu ]-->
					<li class="nav-item dropdown">
						<a class="dropdown-toggle gray-6" href="#" id="bd-theme-two"
						   data-bs-toggle="dropdown" aria-expanded="false">

							<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"
							     fill="none"
							     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
								<circle cx="12" cy="6" r="4"/>

								<path d="M5 20c2-8 12-8 14 0"/>
							</svg>
						</a>
						<ul class="dropdown-menu dropdown-menu-end p-2 p-xl-3 shadow rounded-4"
						    aria-labelledby="bd-theme-two">
							<li class="mb-1" th:if="${#authentication != null}">
								<a class="dropdown-item rounded-pill" href="settings.html" th:href="@{/ui/users/settings}">
									<svg class="avatar xs me-2 opacity-50 theme-icon" xmlns="http://www.w3.org/2000/svg"
									     width="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
									     stroke-linecap="round" stroke-linejoin="round">
										<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
										<path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path>
										<path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
									</svg>
									Settings
								</a>
							</li>
							<li class="mb-1" th:if="${#authentication != null}">
								<a class="dropdown-item rounded-pill" href="#" th:href="@{/ui/auth/logout}">
									<svg class="avatar xs me-2 opacity-50 theme-icon" xmlns="http://www.w3.org/2000/svg"
									     width="24" height="24" viewBox="0 0 24 24" fill="none"
									     stroke="currentColor" stroke-width="2" stroke-linecap="round"
									     stroke-linejoin="round">
										<path d="M9 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h4"/>
										<polyline points="14 17 9 12 14 7"/>
										<line x1="9" y1="12" x2="21" y2="12"/>
									</svg>
									Log out
								</a>
							</li>
							<li class="mb-1" th:if="${#authentication == null}">
								<a class="dropdown-item rounded-pill" href="login.html" th:href="@{/ui/auth/login}">
									<svg class="avatar xs me-2 opacity-50 theme-icon" xmlns="http://www.w3.org/2000/svg"
									     width="24" height="24" viewBox="0 0 24 24" fill="none"
									     stroke="currentColor" stroke-width="2" stroke-linecap="round"
									     stroke-linejoin="round">
										<path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"/>
										<polyline points="10 17 15 12 10 7"/>
										<line x1="15" y1="12" x2="3" y2="12"/>
									</svg>
									Log in
								</a>
							</li>
						</ul>

					</li>
					<li class="nav-item py-2 py-md-1 col-auto d-none d-sm-flex">
						<div class="vr d-none d-sm-flex h-100 mx-sm-2"></div>
					</li>
					<li>
						<a href="#" data-bs-toggle="modal" data-bs-target="#exportModal"
						   class="btn btn-grey-outline fw-medium text-nowrap">
							<svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 24 24"
							     fill="none" stroke="currentColor" stroke-linecap="round"
							     stroke-linejoin="round" class="svg-stroke me-1">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
								<path d="M15 14l4 -4l-4 -4"></path>
								<path d="M19 10h-11a4 4 0 1 0 0 8h1"></path>
							</svg>
							Export
						</a>
					</li>
					<li class="dropdown d-block d-lg-none">
						<button class="btn btn-sm sidebar-toggle ms-3 border" type="button"><i
								class="fa fa-bars"></i></button>
					</li>
				</ul>
			</div>
		</header>
		<!-- start: page header area -->
		<div class="px-xl-5 px-lg-4 px-3 py-2 page-header">
			<div class="col-sm-6 ">
				<ol class="breadcrumb mb-0 bg-transparent ">
					<li class="breadcrumb-item"><a class="text-muted" href="index.html" title="home"
					                               th:href="@{/ui/users/dashboard}">Home</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page" title="Settings">Settings</li>
				</ol>
			</div>
		</div>
		<!-- start: page body area -->
		<div class="px-xl-5 px-lg-4 px-3 py-3 page-body">
			<div class="row">
				<div class="col-8 offset-2">
					<div class="card ">
						<div class="card-header bg-card pb-3">
							<h6 class="card-title mb-0">My Profile</h6>
							<div class="dropdown card-action">
								<a href="#" class="card-fullscreen" data-bs-toggle="tooltip"
								   title="Card Full Screen">
									<svg class="svg-stroke" xmlns="http://www.w3.org/2000/svg" width="20"
									     height="20" viewBox="0 0 24 24" stroke="currentColor" fill="none"
									     stroke-linecap="round" stroke-linejoin="round">
										<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
										<path
												d="M3 16m0 1a1 1 0 0 1 1 -1h3a1 1 0 0 1 1 1v3a1 1 0 0 1 -1 1h-3a1 1 0 0 1 -1 -1z">
										</path>
										<path d="M4 12v-6a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-6">
										</path>
										<path d="M12 8h4v4"></path>
										<path d="M16 8l-5 5"></path>
									</svg>
								</a>
								<a href="#" class="dropdown-toggle after-none" data-bs-toggle="dropdown"
								   aria-expanded="false" title="More Action">
									<svg class="svg-stroke" xmlns="http://www.w3.org/2000/svg" width="20"
									     height="20" viewBox="0 0 24 24" stroke="currentColor" fill="none"
									     stroke-linecap="round" stroke-linejoin="round">
										<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
										<path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
										<path d="M8 12l0 .01"></path>
										<path d="M12 12l0 .01"></path>
										<path d="M16 12l0 .01"></path>
									</svg>
								</a>
								<div class="dropdown-menu dropdown-menu-end shadow rounded-4 p-2">
									<a href="javascript:void(0)" class="dropdown-item rounded-pill"><i
											class="me-2 fa fa-share"></i>Share</a>
									<a href="javascript:void(0)" class="dropdown-item rounded-pill"><i
											class="me-2 fa fa-pencil"></i>Rename</a>
									<div class="dropdown-divider"></div>
									<a href="javascript:void(0)" class="dropdown-item rounded-pill"><i
											class="me-2 fa fa-link"></i>Copy Link Address</a>
									<a href="javascript:void(0)" class="dropdown-item rounded-pill"><i
											class="me-2 fa fa-folder"></i>Move to</a>
									<a href="javascript:void(0)" class="dropdown-item rounded-pill"><i
											class="me-2 fa fa-copy"></i>Copy to</a>
									<a href="javascript:void(0)" class="dropdown-item rounded-pill"><i
											class="me-2 fa fa-edit"></i>Make Private</a>
									<a href="javascript:void(0)" class="dropdown-item rounded-pill"><i
											class="me-2 fa fa-download"></i>Download</a>
									<div class="dropdown-divider"></div>
									<a href="javascript:void(0)"
									   class="dropdown-item rounded-pill card-options-remove"
									   data-toggle="card-remove"><i class="me-2 fa fa-trash"></i>Delete</a>
								</div>
							</div>
							<div
									class="d-flex align-items-md-start align-items-center flex-column flex-md-row mt-4 w-100">

								<img alt="Profile Picture" src="../static/images/profile_av.png"
								     class="rounded-4"
								     onerror="this.onerror=null; this.src='/images/profile_av.png';"
								     width="160"
								     height="160"
								     th:src="@{/ui/uploads/picture{username}3.jpg(username=${userDisplay.username})}"/>

								<div class="media-body ms-md-5 m-0 mt-4 mt-md-0 text-md-start text-center">
									<h4 class="mt-3" th:text="${userDisplay.fullName}">Michelle Hughes</h4>
								</div>

								<div class="ms-md-auto align-self-md-end d-flex">
									<button class="btn btn-grey-outline me-1" data-bs-toggle="modal"
									        data-bs-target="#editModal">
										<svg class="w-6 h-6 pb-1" aria-hidden="true"
										     xmlns="http://www.w3.org/2000/svg" width="18"
										     fill="none" viewBox="0 0 24 24">
											<path stroke="currentColor" stroke-linecap="round"
											      stroke-linejoin="round" stroke-width="2"
											      d="M10.779 17.779 4.36 19.918 6.5 13.5m4.279 4.279 8.364-8.643a3.027 3.027 0 0 0-2.14-5.165 3.03 3.03 0 0 0-2.14.886L6.5 13.5m4.279 4.279L6.499 13.5m2.14 2.14 6.213-6.504M12.75 7.04 17 11.28">
											</path>

										</svg>
										Edit
									</button>


									<form action="#" id="deleteUser" method="post"
									      onsubmit="return confirm('Are you sure you want to delete this user?');"
									      th:action="@{/ui/users}">
										<input name="_method" th:value="delete" type="hidden"/>
										<button class="btn btn-outline-danger justify-content-center align-items-center ms-2">
											<svg width="18" fill="currentColor" stroke="currentColor" class="pb-1"
											     viewBox="0 0 408.483 408.483" xml:space="preserve"><g stroke-width="0"></g>
												<g id="SVGRepo_tracerCarrier"></g>
												<g> <g> <g> <path stroke="currentColor"
												                  d="M87.748,388.784c0.461,11.01,9.521,19.699,20.539,19.699h191.911c11.018,0,20.078-8.689,20.539-19.699l13.705-289.316 H74.043L87.748,388.784z M247.655,171.329c0-4.61,3.738-8.349,8.35-8.349h13.355c4.609,0,8.35,3.738,8.35,8.349v165.293 c0,4.611-3.738,8.349-8.35,8.349h-13.355c-4.61,0-8.35-3.736-8.35-8.349V171.329z M189.216,171.329 c0-4.61,3.738-8.349,8.349-8.349h13.355c4.609,0,8.349,3.738,8.349,8.349v165.293c0,4.611-3.737,8.349-8.349,8.349h-13.355 c-4.61,0-8.349-3.736-8.349-8.349V171.329L189.216,171.329z M130.775,171.329c0-4.61,3.738-8.349,8.349-8.349h13.356 c4.61,0,8.349,3.738,8.349,8.349v165.293c0,4.611-3.738,8.349-8.349,8.349h-13.356c-4.61,0-8.349-3.736-8.349-8.349V171.329z"></path>
													<path stroke="currentColor"
													      d="M343.567,21.043h-88.535V4.305c0-2.377-1.927-4.305-4.305-4.305h-92.971c-2.377,0-4.304,1.928-4.304,4.305v16.737H64.916 c-7.125,0-12.9,5.776-12.9,12.901V74.47h304.451V33.944C356.467,26.819,350.692,21.043,343.567,21.043z"></path> </g> </g> </g></svg>
											Delete
										</button>
									</form>

								</div>
							</div>
						</div>
						<div class="card-body w-100">
							<div class="tab-content" id="pills-tabContent">
								<!--=== Account ===-->
								<div class="tab-pane fade show active" id="pills-home" role="tabpanel"
								     aria-labelledby="pills-home-tab" tabindex="0">
									<div class="table-responsive custom_scroll">
										<!-- Table -->
										<table class="table table-hover mt-3">
											<tbody>
											<tr style="height:55px!important;">

												<th class="border-top align-content-center">Full Name</th>
												<td class="text-end border-top align-content-center"
												    th:text="${userDisplay.fullName}"></td>
											</tr>
											<tr style="height:55px!important;">
												<th class="align-content-center">Username</th>
												<td class="text-end align-content-center"
												    th:text="${userDisplay.username}">lizameliza
												</td>
											</tr>
											<tr style="height:55px!important;">
												<th class="align-content-center">Email Address</th>
												<td class="text-end align-content-center"
												    th:text="${userDisplay.emailAddress}">doeliza@gmail.com
												</td>
											</tr>
											<tr style="height:55px!important;">
												<th class="align-content-center">Phone Number</th>
												<td class="text-end align-content-center"
												    th:text="${userDisplay.phoneNumber}">12345678
												</td>
											</tr>
											<tr style="height:55px!important;">
												<th class="align-content-center"> Verification</th>
												<td class="text-end align-content-center">
													<button class="btn btn-outline-primary" data-bs-toggle="modal"
													        data-bs-target="#verifyModal"
													        th:if="${userDisplay.verifiedAt == null}">Verify
													</button>
													<span class="text-end align-content-center"
													      th:if="${userDisplay.verifiedAt != null}"> Verified</span>
												</td>
											</tr>

											<tr style="height:55px!important;">
												<th class="align-content-center"> Status</th>
												<td class="text-end align-content-center"
												    th:if="${userDisplay.isBlocked() == false}"> Active
												</td>
												<td class="text-end align-content-center"
												    th:if="${userDisplay.isBlocked()}"> Blocked
												</td>
											</tr>

											<tr>
												<th class="align-content-center"> Password</th>
												<td class="text-end align-content-center ">
													<a class="btn btn-outline-info"
													   th:href="@{/ui/auth/reset-password?token={token}(token=${token})}">
														Reset Password</a>
												</td>
											</tr>

											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>


<!-- Export Modal -->
<div class="modal fade" id="exportModal" tabindex="-1" aria-labelledby="exportModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exportModalLabel">Export Data</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="table-responsive custom_scroll">
					<table class="table table-hover">
						<tbody>
						<tr>
							<th class="align-content-center"> Profile Photo</th>
							<td class="text-end align-content-center">

								<img alt="avatar" src="../static/images/profile_av.png"
								     class="avatar md rounded-circle"
								     onerror="this.onerror=null; this.src='/images/profile_av.png';"
								     th:src="@{/ui/uploads/picture{username}3.jpg(username=${userDisplay.username})}"/>
							</td>
						</tr>
						<tr style="height:55px!important;">

							<th class="border-top align-content-center">Full Name</th>
							<td class="text-end border-top align-content-center">Liza Meliza</td>
						</tr>
						<tr style="height:55px!important;">
							<th class="align-content-center">Username</th>
							<td class="text-end align-content-center">lizameliza</td>
						</tr>
						<tr style="height:55px!important;">
							<th class="align-content-center">Email Address</th>
							<td class="text-end align-content-center">doeliza@gmail.com</td>
						</tr>
						<tr style="height:55px!important;">
							<th class="align-content-center">Phone Number</th>
							<td class="text-end align-content-center">12345678</td>
						</tr>
						<tr style="height:55px!important;">
							<th class="align-content-center"> Status</th>
							<td class="text-end align-content-center"> Verified</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-grey-outline">Download</button>
			</div>
		</div>
	</div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="editModalLabel">Edit
					Account Details</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				<!-- Profile Photo -->
				<form class="text-center" enctype="multipart/form-data" method="post"
				      th:action="@{/ui/uploads/profile/{username}(username=${userDisplay.username})}">

					<div class="m-3 image-container">
						<input accept="image/jpeg, image/png, image/gif, image/bmp, image/webp"
						       class="d-none"
						       id="fileInput"
						       name="picture"
						       onchange="if(validateFile(this)) this.form.submit()" type="file"/>

						<img alt="Profile Picture"
						     class="rounded-circle border mb-3 profile-picture ms-auto"
						     onclick="document.getElementById('fileInput').click()"
						     width="160"
						     height="160"
						     onerror="this.onerror=null; this.src='/images/profile_av.png';"
						     th:src="@{/ui/uploads/picture{username}3.jpg(username=${userDisplay.username})}"/>

						<div class="overlay-text">Click to change picture</div>

					</div>
				</form>

				<form th:object="${userUpdate}" method="post" th:action="@{/ui/users/settings}">
					<input name="_method" th:value="put" type="hidden"/>

					<!-- Full Name -->
					<div class="mb-3">
						<label for="fullName" class="form-label">Full
							Name</label>
						<input type="text" class="form-control" id="fullName" th:field="*{fullName}">
					</div>
					<!-- Email Address -->
					<div class="mb-3">
						<label for="email" class="form-label">Email
							Address</label>
						<input type="email" class="form-control" id="email" value="doeliza@gmail.com"
						       th:field="*{emailAddress}">
					</div>
					<!-- Phone Number -->
					<div class="mb-3">
						<label for="phone" class="form-label">Phone
							Number</label>
						<input type="text" class="form-control" id="phone" value="12345678" th:field="*{phoneNumber}">
					</div>
					<div class="modal-footer border-top-0">
						<button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-grey-outline">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- Verify Modal -->
<div class="modal fade" id="verifyModal" tabindex="-1" aria-labelledby="verifyModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="verifyModalLabel">Verify Identity</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form class="text-center d-flex flex-column gap-3" enctype="multipart/form-data" method="post"
				      th:action="@{/ui/uploads/verification/{username}(username=${userDisplay.username})}">
					<div class="row">

						<div class="col-6 d-flex flex-column justify-content-between align-items-center">
							<div>
								<img id="preview1" src="../static/images/gallery/idExample.jpg"
								     th:src="@{/images/gallery/idExample.jpg}" class="img-thumbnail mb-3"
								     alt="Preview ID"/>
							</div>
							<label for="picture1" class="btn btn-secondary">Upload ID</label>
							<input accept="image/jpeg, image/png, image/gif, image/bmp, image/webp"
							       id="picture1"
							       class="d-none"
							       name="picture"
							       type="file"
							       onchange="if(validateFile(this)) {updatePreview(event, 'preview1'); checkFiles();}"/>
						</div>

						<div class="col-6 d-flex flex-column justify-content-between align-items-center">
							<div>
								<img id="preview2" src="../static/images/gallery/selfieExample.png"
								     th:src="@{/images/gallery/selfieExample.png}" class="img-thumbnail mb-3"
								     alt="Preview Selfie"/>
							</div>
							<label for="picture2" class="btn btn-secondary">Upload Selfie</label>
							<input accept="image/jpeg, image/png, image/gif, image/bmp, image/webp"
							       class="d-none"
							       id="picture2"
							       name="picture"
							       type="file"
							       onchange="if(validateFile(this)) {updatePreview(event, 'preview2'); checkFiles();}"/>
						</div>
					</div>

					<button type="submit" class="btn btn-primary mt-4" id="verifyBtn" disabled>Verify</button>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- Error Toast Notification -->
<div id="errorToast" class="toast position-fixed top-0 start-50 translate-middle-x p-3 mt-3"
     role="alert" aria-live="assertive" aria-atomic="true"
     th:if="${errors}" style="z-index: 1050;">
	<div class="toast-header bg-danger rounded-2 text-white">
		<strong class="text-end">Error</strong>
		<button type="button" class="ms-auto btn-close btn-close-white" data-bs-dismiss="toast"
		        aria-label="Close"></button>
	</div>
	<div class="toast-body mt-2 ps-0">
		<ul class="mb-0">
			<li th:each="error : ${errors}" th:text="${error.defaultMessage}"></li>
		</ul>
	</div>
</div>


<!-- Error Toast Notification -->
<div id="errorToastUpload" class="toast position-fixed top-0 start-50 translate-middle-x p-3 mt-3"
     role="alert" aria-live="assertive" aria-atomic="true"
     th:if="${failUpload}" style="z-index: 1050;">
	<div class="toast-header bg-danger rounded-2 text-white">
		<strong class="text-end">Error</strong>
		<button type="button" class="ms-auto btn-close btn-close-white" data-bs-dismiss="toast"
		        aria-label="Close"></button>
	</div>
	<div class="toast-body mt-2 ps-0">
		<ul class="mb-0">
			<li> Picture uploading failed, please try again</li>
		</ul>
	</div>
</div>


<!-- Success Toast Notification -->
<div id="successToast" class="toast position-fixed top-0 start-50 translate-middle-x p-3 mt-3"
     role="alert" aria-live="assertive" aria-atomic="true"
     th:if="${successUpdate}" style="z-index: 1050;">
	<div class="toast-header bg-success rounded-2 text-white">
		<strong class="text-end">Success</strong>
		<button type="button" class="ms-auto btn-close btn-close-white" data-bs-dismiss="toast"
		        aria-label="Close"></button>
	</div>
	<div class="toast-body mt-2 ps-0">
		<ul class="mb-0">
			<li> User updated Successfully</li>
		</ul>
	</div>
</div>


<!-- Success Toast Notification -->
<div id="successToastUpload" class="toast position-fixed top-0 start-50 translate-middle-x p-3 mt-3"
     role="alert" aria-live="assertive" aria-atomic="true"
     th:if="${successUpload}" style="z-index: 1050;">
	<div class="toast-header bg-success rounded-2 text-white">
		<strong class="text-end">Success</strong>
		<button type="button" class="ms-auto btn-close btn-close-white" data-bs-dismiss="toast"
		        aria-label="Close"></button>
	</div>
	<div class="toast-body mt-2 ps-0">
		<ul class="mb-0">
			<li> Verification photos updated successfully</li>
		</ul>
	</div>
</div>

<th:block th:replace="~{fragments/general-fragments.html :: scripts}"></th:block>
<script src="../static/bundles/dataTables.bundle.js" th:src="@{/bundles/dataTables.bundle.js}"></script>
<script src="../static/bundles/sweetalert2.bundle.js" th:src="@{/bundles/sweetalert2.bundle.js}"></script>
<script>
    function updatePreview(event, previewId) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                const previewImage = document.getElementById(previewId);
                previewImage.src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
    }

    function validateFile(input) {
        const allowedTypes = ["image/jpeg", "image/png", "image/gif", "image/bmp", "image/webp"];
        const file = input.files[0];

        if (!file) return false;

        if (!allowedTypes.includes(file.type)) {
            alert("Invalid file type. Please upload an image (JPEG, PNG, GIF, BMP, WEBP).");
            input.value = "";
            return false;
        }

        return true;
    }

    function checkFiles() {
        const picture1 = document.getElementById("picture1").files.length;
        const picture2 = document.getElementById("picture2").files.length;
        const verifyBtn = document.getElementById("verifyBtn");

        if (picture1 > 0 && picture2 > 0) {
            verifyBtn.disabled = false;
        } else {
            verifyBtn.disabled = true;
        }
    }

    document.addEventListener("DOMContentLoaded", function () {
        let errorToastEl = document.getElementById('errorToast');
        if (errorToastEl) {
            let toast = new bootstrap.Toast(errorToastEl, {delay: 5000});
            toast.show();
        }

        let errorToastUpload = document.getElementById('errorToastUpload');
        if (errorToastUpload) {
            let toast = new bootstrap.Toast(errorToastUpload, {delay: 5000});
            toast.show();
        }

        let successToastUpdate = document.getElementById('successToast');
        if (successToastUpdate) {
            let toast = new bootstrap.Toast(successToastUpdate, {delay: 5000});
            toast.show();
        }

        let successToastUpload = document.getElementById('successToastUpload');
        if (successToastUpload) {
            let toast = new bootstrap.Toast(successToastUpload, {delay: 5000});
            toast.show();
        }


    });


</script>

</body>

</html>