<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general-fragments :: head('YNPay :: Stocks')}"></head>
<body data-theme="theme-AppleGreen" class="svgstroke-a">
<main class="container-fluid px-0">
	<!-- start: page menu link -->
	<div th:replace="~{fragments/general-fragments :: sidebar}"></div>
	<div class="content">
		<!-- start: page header -->
		<div th:replace="~{fragments/general-fragments :: main-header('Stocks')}"></div>
		<!-- start: page header area -->
		<div class="px-xl-5 px-lg-4 px-3 py-2 page-header flex-wrap">
			<ol class="breadcrumb mb-0 bg-transparent mb-3 mb-sm-0">
				<li class="breadcrumb-item">
					<a class="text-muted" href="index.html" title="home" th:href="@{/ui/users/dashboard}">Home</a>
				</li>
				<li
						class="breadcrumb-item active"
						aria-current="page"
						title="Stocks"
				>
					Stocks
				</li>
			</ol>
			<ul class="list-unstyled action mb-0 row g-2">
				<li class="col-sm-6 col-6">
					<div>
						<input type="date" name="filter" class="form-control"/>
					</div>
				</li>
				<li class="dropdown col-sm-6 col-6">
					<a
							href="#"
							data-bs-toggle="dropdown"
							data-bs-auto-close="outside"
							aria-expanded="false"
							class="btn border rounded fw-medium w-100"
					>
						<svg
								class="svg-stroke"
								xmlns="http://www.w3.org/2000/svg"
								width="18"
								viewBox="0 0 24 24"
								stroke="currentColor"
								fill="none"
								stroke-linecap="round"
								stroke-linejoin="round"
						>
							<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
							<path
									d="M4 4h16v2.172a2 2 0 0 1 -.586 1.414l-4.414 4.414v7l-6 2v-8.5l-4.48 -4.928a2 2 0 0 1 -.52 -1.345v-2.227z"
							></path>
						</svg>
						Filter
					</a>
					<div
							class="dropdown-menu dropdown-menu-end p-2 p-xl-3 shadow rounded-4"
							style="width: 300px"
					>
						<h6>Filter Options</h6>
						<div class="row g-3 mt-3">
							<div class="col-12">
								<label class="form-label small text-muted"
								>Sorted by:</label
								>
								<input
										type="search"
										class="form-control"
										placeholder="Search"
								/>
							</div>
							<div class="col-12">
								<label class="form-label small text-muted">Status:</label>
								<select class="form-select">
									<option selected="">Choose...</option>
									<option>...</option>
								</select>
							</div>
							<div class="col-12">
								<label class="form-label small text-muted"
								>Notifications:</label
								>
								<div class="form-check form-switch">
									<input
											class="form-check-input"
											type="checkbox"
											role="switch"
									/>
									<label class="form-check-label">Enabled</label>
								</div>
							</div>
							<div class="col-12 text-end mt-4">
								<button type="reset" class="btn btn-sm btn-light me-1">
									Reset
								</button>
								<button type="submit" class="btn btn-sm btn-primary">
									Apply
								</button>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<!-- start: overall chart area -->
		<div class="px-xl-5 px-lg-4 px-3 py-3 page-body">
			<div class="row">
				<div class="col-12">
					<div class="card mb-3 border rounded-2 rounded-4">
						<div class="card-header pt-3">
							<h6 class="card-title mb-0">Apple Inc (AAPL)</h6>
						</div>
						<div class="card-body">
							<div id="apex-CandleStick"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- start: page body area -->
		<div class="px-xl-5 px-lg-4 px-3 py-3 page-body">
			<div class="row">
				<div class="col-12">

					<div class="modal fade" id="chartModal" tabindex="-1" aria-labelledby="chartModalLabel"
					     aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="chartModalLabel">CandleStick Chart</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
									        aria-label="Close"></button>
								</div>
								<div class="modal-body">
								</div>
							</div>
						</div>
					</div>
				</div>


			</div>

			<!-- <div class="px-xl-5 px-lg-4 px-3 py-3 page-body">
			  <div class="row"> -->
			<div class="col-12">
				<div class="border p-4 rounded-2 rounded-4 card">
					<div
							class="calendar-tab pb-4"
							style="--dynamic-color: var(--primary-color)"
					>
						<ul
								class="nav nav-pills text-muted text-uppercase"
								role="tablist"
						>
							<li class="nav-item">
								Sun
								<button
										class="nav-link disabled"
										data-bs-toggle="pill"
										data-bs-target="#c_date_1"
										type="button"
										role="tab"
								>
									01
								</button>
							</li>
							<li class="nav-item">
								Mon
								<button
										class="nav-link disabled"
										data-bs-toggle="pill"
										data-bs-target="#c_date_2"
										type="button"
										role="tab"
								>
									02
								</button>
							</li>
							<li class="nav-item">
								Tue
								<button
										class="nav-link disabled"
										data-bs-toggle="pill"
										data-bs-target="#c_date_3"
										type="button"
										role="tab"
								>
									03
								</button>
							</li>
							<li class="nav-item">
								Wed
								<button
										class="nav-link disabled"
										data-bs-toggle="pill"
										data-bs-target="#c_date_4"
										type="button"
										role="tab"
								>
									04
								</button>
							</li>
							<li class="nav-item">
								Thu
								<button
										class="nav-link disabled"
										data-bs-toggle="pill"
										data-bs-target="#c_date_5"
										type="button"
										role="tab"
								>
									05
								</button>
							</li>
							<li class="nav-item">
								Fri
								<button
										class="nav-link disabled"
										data-bs-toggle="pill"
										data-bs-target="#c_date_6"
										type="button"
										role="tab"
								>
									06
								</button>
							</li>
							<li class="nav-item">
								Sat
								<button
										class="nav-link disabled"
										data-bs-toggle="pill"
										data-bs-target="#c_date_7"
										type="button"
										role="tab"
								>
									07
								</button>
							</li>
							<li class="nav-item">
								Sun
								<button
										class="nav-link disabled"
										data-bs-toggle="pill"
										data-bs-target="#c_date_8"
										type="button"
										role="tab"
								>
									08
								</button>
							</li>
							<li class="nav-item">
								Mon
								<button
										class="nav-link disabled"
										data-bs-toggle="pill"
										data-bs-target="#c_date_9"
										type="button"
										role="tab"
								>
									09
								</button>
							</li>
							<li class="nav-item">
								Tue
								<button
										class="nav-link disabled"
										data-bs-toggle="pill"
										data-bs-target="#c_date_10"
										type="button"
										role="tab"
								>
									10
								</button>
							</li>
							<li class="nav-item">
								Wed
								<button
										class="nav-link disabled"
										data-bs-toggle="pill"
										data-bs-target="#c_date_11"
										type="button"
										role="tab"
								>
									11
								</button>
							</li>
							<li class="nav-item">
								Thu
								<button
										class="nav-link disabled"
										data-bs-toggle="pill"
										data-bs-target="#c_date_12"
										type="button"
										role="tab"
								>
									12
								</button>
							</li>
							<li class="nav-item">
								Fri
								<button
										class="nav-link disabled"
										data-bs-toggle="pill"
										data-bs-target="#c_date_13"
										type="button"
										role="tab"
								>
									13
								</button>
							</li>
							<li class="nav-item">
								Sat
								<button
										class="nav-link disabled"
										data-bs-toggle="pill"
										data-bs-target="#c_date_14"
										type="button"
										role="tab"
								>
									14
								</button>
							</li>
							<li class="nav-item">
								Sun
								<button
										class="nav-link disabled"
										data-bs-toggle="pill"
										data-bs-target="#c_date_15"
										type="button"
										role="tab"
								>
									15
								</button>
							</li>
							<li class="nav-item">
								Sun
								<button
										class="nav-link disabled"
										data-bs-toggle="pill"
										data-bs-target="#c_date_16"
										type="button"
										role="tab"
								>
									16
								</button>
							</li>
							<li class="nav-item">
								Mon
								<button
										class="nav-link disabled"
										data-bs-toggle="pill"
										data-bs-target="#c_date_17"
										type="button"
										role="tab"
								>
									17
								</button>
							</li>
							<li class="nav-item">
								Tue
								<button
										class="nav-link disabled"
										data-bs-toggle="pill"
										data-bs-target="#c_date_18"
										type="button"
										role="tab"
								>
									18
								</button>
							</li>
							<li class="nav-item">
								Wed
								<button
										class="nav-link disabled"
										data-bs-toggle="pill"
										data-bs-target="#c_date_19"
										type="button"
										role="tab"
								>
									19
								</button>
							</li>
							<li class="nav-item">
								Thu
								<button
										class="nav-link disabled"
										data-bs-toggle="pill"
										data-bs-target="#c_date_20"
										type="button"
										role="tab"
								>
									20
								</button>
							</li>
							<li class="nav-item">
								Fri
								<button
										class="nav-link disabled"
										data-bs-toggle="pill"
										data-bs-target="#c_date_21"
										type="button"
										role="tab"
								>
									21
								</button>
							</li>
							<li class="nav-item">
								Sat
								<button
										class="nav-link disabled"
										data-bs-toggle="pill"
										data-bs-target="#c_date_22"
										type="button"
										role="tab"
								>
									22
								</button>
							</li>
							<li class="nav-item">
								Sun
								<button
										class="nav-link disabled"
										data-bs-toggle="pill"
										data-bs-target="#c_date_23"
										type="button"
										role="tab"
								>
									23
								</button>
							</li>
							<li class="nav-item">
								Mon
								<button
										class="nav-link disabled"
										data-bs-toggle="pill"
										data-bs-target="#c_date_24"
										type="button"
										role="tab"
								>
									24
								</button>
							</li>
							<li class="nav-item">
								Tue
								<button
										class="nav-link disabled"
										data-bs-toggle="pill"
										data-bs-target="#c_date_25"
										type="button"
										role="tab"
								>
									25
								</button>
							</li>
							<li class="nav-item">
								Wed
								<button
										class="nav-link disabled"
										data-bs-toggle="pill"
										data-bs-target="#c_date_26"
										type="button"
										role="tab"
								>
									26
								</button>
							</li>
							<li class="nav-item">
								Thu
								<button
										class="nav-link disabled"
										data-bs-toggle="pill"
										data-bs-target="#c_date_27"
										type="button"
										role="tab"
								>
									27
								</button>
							</li>
							<li class="nav-item">
								Fri
								<button
										class="nav-link disabled"
										data-bs-toggle="pill"
										data-bs-target="#c_date_28"
										type="button"
										role="tab"
								>
									28
								</button>
							</li>
							<li class="nav-item">
								Sat
								<button
										class="nav-link disabled"
										data-bs-toggle="pill"
										data-bs-target="#c_date_29"
										type="button"
										role="tab"
								>
									29
								</button>
							</li>
							<li class="nav-item">
								Sun
								<button
										class="nav-link disabled"
										data-bs-toggle="pill"
										data-bs-target="#c_date_30"
										type="button"
										role="tab"
								>
									30
								</button>
							</li>

							<li class="nav-item">
								Mon
								<button
										class="nav-link disabled"
										data-bs-toggle="pill"
										data-bs-target="#c_date_31"
										type="button"
										role="tab"
								>
									31
								</button>
							</li>
						</ul>
					</div>

					<form th:action="@{/ui/users/stocks}" method="post" th:object="${stockOrder}">
						<table class="table align-middle table-hover dataTable table-body table-responsive w-100">
							<thead>
							<tr class="small text-muted text-uppercase">
								<th class="border" style="border-top-left-radius:1rem;">Symbol</th>
								<th class="border">Date</th>
								<th class="border">Holdings</th>
								<th class="border">Price</th>
								<th class="border">Amount</th>
								<th class="border">Options</th>
								<th class="border" style="border-top-right-radius:1rem;">Chart</th>
							</tr>
							</thead>
							<tbody>
							<tr class="row-selectable" th:each="stock, iterStat : ${stocks}">
								<td class="border">
                                    <span class="d-flex align-items-center">
                                      <img
		                                      class="rounded-circle d-none d-sm-inline-block"
		                                      src="../static/images/stock-icons/AAPL.png"
		                                      th:src="@{/images/stock-icons/{symbol}.png(symbol=${stock.key})}"
		                                      alt=""
		                                      width="25px"
		                                      height="30px"
                                      />
                                      <span class="flex-fill ms-3">
                                        <span class="h6 mb-0" th:text="${stock.key}">AAPL</span>
                                      </span>
                                    </span>
									<input type="hidden" th:field="*{symbols[__${iterStat.index}__]}"
									       th:value="${stock.key}"/>
								</td>
								<td class="border" th:text="${#temporals.format(stock.value.values[0].getDatetime(), 'yyyy-MM-dd HH:mm:ss')}">7 March 2025</td>

								<td class="border user-stock" th:text="${userStocks[stock.key] != null ? userStocks[stock.key] : 0}">0</td>

								<input type="hidden" th:field="*{prices[__${iterStat.index}__]}"
								       th:value="${stock.value.values[0].close}"/>
								<td class="border" th:text="${stock.value.values[0].close}"></td>


								<td class="border" style="width:15rem;">
									<input type="number" class="form-control" placeholder="Enter amount" min="0" step="any"
									       th:field="*{quantities[__${iterStat.index}__]}" required/>
								</td>
								<td class="border">
									<div class="d-flex">
										<input type="hidden"  th:field="*{directions[__${iterStat.index}__]}"/>

										<button type="button"
										        class="btn btn-outline-primary flex-fill me-2 btn-toggle green-btn btn-buy"
										        title="Buy">
											Buy
										</button>
										<button type="button"
										        class="btn btn-outline-danger flex-fill btn-toggle red-btn btn-sell"
										        title="Sell"
										        th:classappend="${userStocks[stock.key] == null ? 'disabled' : ''}">
											Sell
										</button>
									</div>
								</td>

								<td class="border">
									<button type="button"
									        class="btn btn-outline-secondary w-100 btn-custom updateButton"
									        th:data-symbol="${stock.key}"
									        title="Update Chart">
										<svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
										     fill="none" viewBox="0 0 24 24" stroke="currentColor">
											<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
											      d="M4 4v16h16M8 12l3-3 4 4 5-5"/>
										</svg>
									</button>
								</td>
							</tr>
							</tbody>
							<tr class="no-hover">
								<td class="border-top no-hover"></td>
								<td class="border-top no-hover"></td>
								<td class="border-top no-hover"></td>
								<td class="border-top no-hover"></td>
								<td class="border-top no-hover"></td>
								<td class="border-top no-hover" colspan="2">
									<div class="d-flex align-items-center text-center">
										<button type="submit" class="btn btn-outline-secondary text-dark flex-fill me-2" id="submit-order"
										        title="Finish Order">
											Finish Order
										</button>
									</div>
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div aria-hidden="true" aria-labelledby="successModalLabel" class="modal fade" id="successModal"
	     tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="successModalLabel">Success</h5>
					<button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
				</div>
				<div class="modal-body">
					<span th:if="${orderSuccess}" th:text="#{stock-order.success}"  style="text-transform: none;"> </span>

				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
				</div>
			</div>
		</div>
	</div>


	<div aria-hidden="true" aria-labelledby="failureModalLabel" class="modal fade" id="failureModal"
	     tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="failureModalLabel">Failure</h5>
					<button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
				</div>
				<div class="modal-body">
					<span th:if="${orderFail}" th:text="#{stock-order.failure}"  style="text-transform: none;"> </span>
				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
				</div>
			</div>
		</div>
	</div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" th:src="'https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js'"></script>

<div th:replace="~{fragments/general-fragments :: exchange-rate}"></div>

<th:block th:replace="~{fragments/general-fragments.html :: scripts}"></th:block>

<script src="../static/bundles/dataTables.bundle.js" th:src="@{/bundles/dataTables.bundle.js}"></script>

<link rel="stylesheet" href="../static/vendor/dataTables.css" th:href="@{/vendor/dataTables.css}"/>


<script th:if="${orderSuccess}" type="text/javascript">
    let modal = new bootstrap.Modal(document.getElementById('successModal'));
    modal.show();
</script>

<script th:if="${orderFail}" type="text/javascript">
    let modal = new bootstrap.Modal(document.getElementById('failureModal'));
    modal.show();
</script>


<script th:inline="javascript">
    let stocks = /*[[${stocks}]]*/{};


    let formattedData = Object.entries(stocks).map(([symbol, stockData]) => {
        return {
            symbol: symbol,
            data: stockData.values.map(data => {

                let date = data.datetime;

                if(date){
                    date = date.replace(" ", "T");
                }

                let utcDate = new Date(date + "Z");
                let localDate = new Date(utcDate.getTime() - utcDate.getTimezoneOffset() * 60000);

                return {
                    x: new Date(localDate).getTime(),
                    y: [data.open, data.high, data.low, data.close]
                };
            })
        };
    });


    document.addEventListener("DOMContentLoaded", function () {
        // Scroll handling for .calendar-tab .nav
        const scrollContainer = document.querySelector(".calendar-tab .nav");
        if (scrollContainer) {
            scrollContainer.addEventListener("wheel", (evt) => {
                evt.preventDefault();
                scrollContainer.scrollLeft += evt.deltaY;
            });
        }
    });

    $(document).ready(function () {
        // Initialize DataTable
        $(".dataTable").dataTable({
            responsive: true,
            columnDefs: [
                {
                    targets: 3,
                    render: DataTable.render.number(',', '.', 2, "$"),
                },
            ],
        });
    });



    function renderChart(symbol) {

        let selectedStock = formattedData.find(stock => stock.symbol === symbol);

        if (selectedStock) {

            let chartContainer = document.querySelector("#apex-CandleStick");
            chartContainer.innerHTML = "";



            let minDate = new Date(selectedStock.data[0].x);

            minDate.setHours(13, 25, 0, 0);

            let maxDate = new Date(selectedStock.data[0].x);

            maxDate.setHours(20, 0, 0, 0);


            document.querySelector(".card-title").textContent = symbol;

            let options = {
                chart: {
                    height: 350,
                    type: "candlestick",
                    toolbar: { show: false }
                },
                plotOptions: {
                    candlestick: {
                        colors: {
                            upward: "var(--bs-success)",
                            downward: "var(--bs-danger)",
                        },
                        wick: { useFillColor: true }
                    }
                },
                series: [{
                    data: selectedStock.data,
                }],
                xaxis: {
                    type: "datetime",
                    labels: {
                        format: 'dd MMM yyyy HH:mm',
                    },
	                min : minDate.getTime(),
	                max : maxDate.getTime(),
                },
                yaxis: {
                    tooltip: { enabled: true },
                    labels: {
                        formatter: function (value) {
                            return value.toFixed(2);
                        }
                    }
                },
                tooltip: {
                    theme: "dark",
                    x: {
                        formatter: function (value) {
                            let date = new Date(value);
                            return date.toLocaleString();
                        }
                    },
                    y: {
                        formatter: function (value) {
                            return value.toFixed(2);
                        }
                    }
                }
            };

            currentChart = new ApexCharts(chartContainer, options);
            currentChart.render();
        }
    }

    renderChart('AAPL');

    document.addEventListener('DOMContentLoaded', function () {
        const buttons = document.querySelectorAll('.updateButton');


        buttons.forEach(button => {
            button.addEventListener('click', function () {

                let symbol = this.dataset.symbol;
                renderChart(symbol);

            });
        });
    });

    const today = new Date().getDate();

    let allDates = document.querySelectorAll('.nav-link');


    allDates.forEach(date => {
		let dateNumber = parseInt(date.textContent);

		if (dateNumber === today) {
			date.classList.add('active');
		}
	});


    document.addEventListener('DOMContentLoaded', function () {
        const buttons = document.querySelectorAll('.btn-toggle');
        const submitButton = document.getElementById('submit-order');

        function checkToggleButtons() {
            let isActive = false;

            buttons.forEach(button => {

                if (button.classList.contains('active')) {
                    isActive = true;
                }
            });

            submitButton.disabled = !isActive;
        }

        buttons.forEach(button => {
            button.addEventListener('click', function () {
                const row = this.closest('tr');
                const directionInput = row.querySelector("input[name^='directions']");
                const amountInputField = row.querySelector('input[type="number"]');
                const userStockCell = row.querySelector('.user-stock');
                const userStockAmount = parseFloat(userStockCell.textContent) || 0;

                if (this.classList.contains('active')) {
                    this.classList.remove('active');
                    directionInput.value = 0;
                    amountInputField.removeAttribute('max');
                } else {

                    const rowButtons = row.querySelectorAll('.btn-toggle');

                    rowButtons.forEach(btn => {
                        btn.classList.remove('active');
                    });

                    this.classList.add('active');

                    if (this.classList.contains('btn-outline-primary')) {
                        directionInput.value = 1;
                        amountInputField.removeAttribute('max');
                    } else if (this.classList.contains('btn-outline-danger')) {
                        directionInput.value = -1;
                        amountInputField.max = userStockAmount;
                    }
                }

                checkToggleButtons();
            });
        });
        checkToggleButtons();

        const inputFields = document.querySelectorAll('input[type="number"]')

        inputFields.forEach(input => {
            const row = input.closest('tr');
            const buyButton = row.querySelector('.btn-buy');
            const sellButton = row.querySelector('.btn-sell');

            function toggleButtonsBasedOnInput() {
                const value = parseFloat(input.value);
                const stockQuantity = parseFloat(row.querySelector('.user-stock').textContent);


                if (value >= 0.01) {
                    buyButton.disabled = false;
                    sellButton.disabled = stockQuantity <= 0;
                } else {
                    buyButton.disabled = true;
                    sellButton.disabled = true;
                }
            }

            input.addEventListener('input', toggleButtonsBasedOnInput);

            toggleButtonsBasedOnInput();
        });
    });


</script>
</body>
</html>
