<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general-fragments :: head('YNPay :: Transactions')}"></head>

<body data-theme="theme-AppleGreen" class="svgstroke-a">
<main class="container-fluid px-0">
    <!-- start: page menu link -->
    <div th:replace="~{fragments/general-fragments :: sidebar}"></div>
    <div class="content card">
        <!-- start: page header -->
        <div th:replace="~{fragments/general-fragments :: main-header('Transaction')}"></div>
        <!-- start: page header area -->
        <div class="px-xl-5 px-lg-4 px-3 py-2 page-header flex-wrap">
            <ol class="breadcrumb mb-0 bg-transparent mb-3 mb-sm-0">
                <li class="breadcrumb-item"><a class="text-muted" href="index.html" title="home"
                                               th:href="@{/ui/home}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page" title="Balance">Transactions</li>
            </ol>

        </div>
        <!-- start: page body area -->
        <div class="px-xl-5 px-lg-4 px-3 py-3 page-body">
            <div class="row">
                <div class="col-12">
                    <div class="border p-4 rounded-2 rounded-4">
                        <div
                                class="calendar-tab pb-4"
                                style="--dynamic-color: var(--primary-color)">

                            <ul
                                    class="nav nav-pills text-muted text-uppercase"
                                    role="tablist"
                            >
                                <li class="nav-item">
                                    Sun
                                    <button
                                            class="nav-link disabled"
                                            data-bs-toggle="pill"
                                            data-bs-target="#c_date_1"
                                            type="button"
                                            role="tab"
                                    >
                                        01
                                    </button>
                                </li>
                                <li class="nav-item">
                                    Mon
                                    <button
                                            class="nav-link disabled"
                                            data-bs-toggle="pill"
                                            data-bs-target="#c_date_2"
                                            type="button"
                                            role="tab"
                                    >
                                        02
                                    </button>
                                </li>
                                <li class="nav-item">
                                    Tue
                                    <button
                                            class="nav-link disabled"
                                            data-bs-toggle="pill"
                                            data-bs-target="#c_date_3"
                                            type="button"
                                            role="tab"
                                    >
                                        03
                                    </button>
                                </li>
                                <li class="nav-item">
                                    Wed
                                    <button
                                            class="nav-link disabled"
                                            data-bs-toggle="pill"
                                            data-bs-target="#c_date_4"
                                            type="button"
                                            role="tab"
                                    >
                                        04
                                    </button>
                                </li>
                                <li class="nav-item">
                                    Thu
                                    <button
                                            class="nav-link disabled"
                                            data-bs-toggle="pill"
                                            data-bs-target="#c_date_5"
                                            type="button"
                                            role="tab"
                                    >
                                        05
                                    </button>
                                </li>
                                <li class="nav-item">
                                    Fri
                                    <button
                                            class="nav-link disabled"
                                            data-bs-toggle="pill"
                                            data-bs-target="#c_date_6"
                                            type="button"
                                            role="tab"
                                    >
                                        06
                                    </button>
                                </li>
                                <li class="nav-item">
                                    Sat
                                    <button
                                            class="nav-link disabled"
                                            data-bs-toggle="pill"
                                            data-bs-target="#c_date_7"
                                            type="button"
                                            role="tab"
                                    >
                                        07
                                    </button>
                                </li>
                                <li class="nav-item">
                                    Sun
                                    <button
                                            class="nav-link disabled"
                                            data-bs-toggle="pill"
                                            data-bs-target="#c_date_8"
                                            type="button"
                                            role="tab"
                                    >
                                        08
                                    </button>
                                </li>
                                <li class="nav-item">
                                    Mon
                                    <button
                                            class="nav-link disabled"
                                            data-bs-toggle="pill"
                                            data-bs-target="#c_date_9"
                                            type="button"
                                            role="tab"
                                    >
                                        09
                                    </button>
                                </li>
                                <li class="nav-item">
                                    Tue
                                    <button
                                            class="nav-link disabled"
                                            data-bs-toggle="pill"
                                            data-bs-target="#c_date_10"
                                            type="button"
                                            role="tab"
                                    >
                                        10
                                    </button>
                                </li>
                                <li class="nav-item">
                                    Wed
                                    <button
                                            class="nav-link disabled"
                                            data-bs-toggle="pill"
                                            data-bs-target="#c_date_11"
                                            type="button"
                                            role="tab"
                                    >
                                        11
                                    </button>
                                </li>
                                <li class="nav-item">
                                    Thu
                                    <button
                                            class="nav-link disabled"
                                            data-bs-toggle="pill"
                                            data-bs-target="#c_date_12"
                                            type="button"
                                            role="tab"
                                    >
                                        12
                                    </button>
                                </li>
                                <li class="nav-item">
                                    Fri
                                    <button
                                            class="nav-link disabled"
                                            data-bs-toggle="pill"
                                            data-bs-target="#c_date_13"
                                            type="button"
                                            role="tab"
                                    >
                                        13
                                    </button>
                                </li>
                                <li class="nav-item">
                                    Sat
                                    <button
                                            class="nav-link disabled"
                                            data-bs-toggle="pill"
                                            data-bs-target="#c_date_14"
                                            type="button"
                                            role="tab"
                                    >
                                        14
                                    </button>
                                </li>
                                <li class="nav-item">
                                    Sun
                                    <button
                                            class="nav-link disabled"
                                            data-bs-toggle="pill"
                                            data-bs-target="#c_date_15"
                                            type="button"
                                            role="tab"
                                    >
                                        15
                                    </button>
                                </li>
                                <li class="nav-item">
                                    Sun
                                    <button
                                            class="nav-link disabled"
                                            data-bs-toggle="pill"
                                            data-bs-target="#c_date_16"
                                            type="button"
                                            role="tab"
                                    >
                                        16
                                    </button>
                                </li>
                                <li class="nav-item">
                                    Mon
                                    <button
                                            class="nav-link disabled"
                                            data-bs-toggle="pill"
                                            data-bs-target="#c_date_17"
                                            type="button"
                                            role="tab"
                                    >
                                        17
                                    </button>
                                </li>
                                <li class="nav-item">
                                    Tue
                                    <button
                                            class="nav-link disabled"
                                            data-bs-toggle="pill"
                                            data-bs-target="#c_date_18"
                                            type="button"
                                            role="tab"
                                    >
                                        18
                                    </button>
                                </li>
                                <li class="nav-item">
                                    Wed
                                    <button
                                            class="nav-link disabled"
                                            data-bs-toggle="pill"
                                            data-bs-target="#c_date_19"
                                            type="button"
                                            role="tab"
                                    >
                                        19
                                    </button>
                                </li>
                                <li class="nav-item">
                                    Thu
                                    <button
                                            class="nav-link disabled"
                                            data-bs-toggle="pill"
                                            data-bs-target="#c_date_20"
                                            type="button"
                                            role="tab"
                                    >
                                        20
                                    </button>
                                </li>
                                <li class="nav-item">
                                    Fri
                                    <button
                                            class="nav-link disabled"
                                            data-bs-toggle="pill"
                                            data-bs-target="#c_date_21"
                                            type="button"
                                            role="tab"
                                    >
                                        21
                                    </button>
                                </li>
                                <li class="nav-item">
                                    Sat
                                    <button
                                            class="nav-link disabled"
                                            data-bs-toggle="pill"
                                            data-bs-target="#c_date_22"
                                            type="button"
                                            role="tab"
                                    >
                                        22
                                    </button>
                                </li>
                                <li class="nav-item">
                                    Sun
                                    <button
                                            class="nav-link disabled"
                                            data-bs-toggle="pill"
                                            data-bs-target="#c_date_23"
                                            type="button"
                                            role="tab"
                                    >
                                        23
                                    </button>
                                </li>
                                <li class="nav-item">
                                    Mon
                                    <button
                                            class="nav-link disabled"
                                            data-bs-toggle="pill"
                                            data-bs-target="#c_date_24"
                                            type="button"
                                            role="tab"
                                    >
                                        24
                                    </button>
                                </li>
                                <li class="nav-item">
                                    Tue
                                    <button
                                            class="nav-link disabled"
                                            data-bs-toggle="pill"
                                            data-bs-target="#c_date_25"
                                            type="button"
                                            role="tab"
                                    >
                                        25
                                    </button>
                                </li>
                                <li class="nav-item">
                                    Wed
                                    <button
                                            class="nav-link disabled"
                                            data-bs-toggle="pill"
                                            data-bs-target="#c_date_26"
                                            type="button"
                                            role="tab"
                                    >
                                        26
                                    </button>
                                </li>
                                <li class="nav-item">
                                    Thu
                                    <button
                                            class="nav-link disabled"
                                            data-bs-toggle="pill"
                                            data-bs-target="#c_date_27"
                                            type="button"
                                            role="tab"
                                    >
                                        27
                                    </button>
                                </li>
                                <li class="nav-item">
                                    Fri
                                    <button
                                            class="nav-link disabled"
                                            data-bs-toggle="pill"
                                            data-bs-target="#c_date_28"
                                            type="button"
                                            role="tab"
                                    >
                                        28
                                    </button>
                                </li>
                                <li class="nav-item">
                                    Sat
                                    <button
                                            class="nav-link disabled"
                                            data-bs-toggle="pill"
                                            data-bs-target="#c_date_29"
                                            type="button"
                                            role="tab"
                                    >
                                        29
                                    </button>
                                </li>
                                <li class="nav-item">
                                    Sun
                                    <button
                                            class="nav-link disabled"
                                            data-bs-toggle="pill"
                                            data-bs-target="#c_date_30"
                                            type="button"
                                            role="tab"
                                    >
                                        30
                                    </button>
                                </li>

                                <li class="nav-item">
                                    Mon
                                    <button
                                            class="nav-link disabled"
                                            data-bs-toggle="pill"
                                            data-bs-target="#c_date_31"
                                            type="button"
                                            role="tab"
                                    >
                                        31
                                    </button>
                                </li>
                            </ul>
                        </div>

                        <div class="d-flex justify-content-center">
                            <a id="usersTab" class="btn btn-outline-primary rounded-pill me-2"
                            th:href="@{/ui/users/transactions}"
                               th:classappend="${activeTab == 'all' ? 'active' : ''}"> All Transactions</a>

                            <a id="transfersTab" class="btn btn-outline-info rounded-pill ms-2 info-btn"
                               th:href="@{/ui/users/transactions/incoming}"
                               th:classappend="${activeTab == 'in' ? 'active' : ''}"> Incoming </a>

                            <a id="investmentsTab2" class="btn btn-outline-warning rounded-pill ms-2 inv-btn"
                               th:href="@{/ui/users/transactions/outgoing}"
                               th:classappend="${activeTab == 'out' ? 'active' : ''}"> Outgoing </a>

                            <a id="investmentsTab" class="btn btn-outline-danger rounded-pill ms-2 inv-btn"
                               th:href="@{/ui/users/investments}"
                               th:classappend="${activeTab == 'investment' ? 'active' : ''}"> Investments </a>
                        </div>


                        <table id="transfersTable"
                               class="table align-middle table-hover dataTable table-body table-responsive w-100 border rounded-4">

                            <thead>
                            <tr class="small text-muted text-uppercase">

                                <th class="border-end">From</th>
                                <th class="border-end">Amount</th>
                                <th class="border-end">Category</th>
                                <th class="border-end">Date</th>
                                <th class="border-end">Type</th>
                                <th>More</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="row-selectable"  th:each="transaction,iterStat : ${transactions}"
                                >

                                <td class="border-end border-top">
                                                      <span class="d-flex align-items-center">
	                                                       <span th:if="${transaction.transactionType !=  'Deposit'}">
		                                                       <img alt="Profile Picture" src="../static/images/xs/avatar1.jpg"
                                                                    class="avatar rounded-circle d-none d-sm-inline-block"
                                                                    onerror="this.onerror=null; this.src='/images/xs/avatar1.jpg';"
                                                                    th:if="@{/ui/uploads/picture{username}3.jpg(username=${transaction.sender})}"
                                                                    th:src="@{/ui/uploads/picture{username}3.jpg(username=${transaction.sender})}"/>
	                                                       </span>

	                                                       <img alt=""
                                                                class="avatar rounded-circle d-none d-sm-inline-block"
                                                                src="../static/images/payment/card.svg"
                                                                th:if="${transaction.transactionType ==  'Deposit'}"
                                                                th:src="@{/images/payment/card.svg}">
                                                            <span class="flex-fill ms-2">
                                                                 <span class="h6 mb-0" th:text="${transaction.sender}">Jony Doe</span>
                                                            </span>
                                                       </span>
                                </td>
                                <td class="border-end border-top"
                                    th:text="${transaction.amount} + ' ' + ${transaction.currency}">$500.00
                                </td>
                                <td class="border-end border-top" th:text="${transaction.transactionCategory}">
                                    Checking
                                </td>
                                <td class="border-end border-top"
                                    th:text="${#temporals.format(transaction.transactionTime, 'yyyy-MM-dd HH:mm:ss')}">
                                    Feb 05, 2024
                                </td>
                                <td class="border-end border-top" th:text="${transaction.transactionType}">Deposit</td>
                                <td class="border-top">
                                    <a aria-expanded="false" class="btn btn-outline-secondary w-100"
                                       data-bs-toggle="offcanvas"
                                       th:href="'#offcanvas_trdetails_' + ${iterStat.index}"
                                       title="More Action">
                                        <svg aria-hidden="true" class="w-6 h-6"
                                             fill="none" viewBox="0 0 24 24"
                                             width="24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6 12h.01m6 0h.01m5.99 0h.01" stroke="currentColor"
                                                  stroke-linecap="round"
                                                  stroke-width="3"/>
                                        </svg>

                                    </a>
                                </td>
                                <!-- start: Transection details rate -->
                                <div aria-labelledby="offcanvas_trdetails" class="offcanvas offcanvas-end"
                                     th:id="'offcanvas_trdetails_' + ${iterStat.index}"
                                     tabindex="-1">
                                    <div class="offcanvas-header">
                                        <h5 class="offcanvas-title">Transaction Details</h5>
                                        <button aria-label="Close" class="btn-close" data-bs-dismiss="offcanvas"
                                                type="button"></button>
                                    </div>
                                    <div class="offcanvas-body px-0">
                                        <div class="mb-4 p-3 bg-light">
                                            <h6 class="text-muted mb-0">Amount</h6>
                                        </div>
                                        <div class="mb-4 px-3">
                                            <h3 th:text="${transaction.getAmount()}+ ' ' +${transaction.currency}">
                                                500.00</h3>
                                        </div>
                                        <div class="mb-4 p-3 bg-light">
                                            <h6 class="text-muted mb-0">To</h6>
                                        </div>
                                        <div class="mb-4 px-3">
                                            <div class="d-flex align-items-center mb-3">


<!--                                                <img alt="wallet" src="../static/images/gallery/wallet-2.jpg"-->
<!--                                                     class="avatar rounded-4 d-none d-sm-inline-block"-->
<!--                                                     th:src="@{/images/gallery/wallet-2.jpg}">-->
                                                <span class="d-flex align-items-center">
	                                                       <span >
		                                                       <img alt="Profile Picture" src="../static/images/xs/avatar1.jpg"
                                                                    class="avatar rounded-circle d-none d-sm-inline-block"
                                                                    onerror="this.onerror=null; this.src='/images/xs/avatar1.jpg';"
                                                                    th:if="@{/ui/uploads/picture{username}3.jpg(username=${transaction.mainReceiver})}"
                                                                    th:src="@{/ui/uploads/picture{username}3.jpg(username=${transaction.mainReceiver})}"/>
	                                                       </span>

                                                       </span>

                                                <div class="flex-fill ms-3">
                                                    <div class="h6 mb-0" th:text="${transaction.receivers}"> John
                                                        Jones
                                                    </div>
                                                    <small class="text-muted"
                                                           th:text="'IBAN33YNPAY68477732491843244' + ${transaction.receiverWalletId}">****
                                                        ****2498 DBS Bank</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-4 p-3 bg-light">
                                            <h6 class="text-muted mb-0 pt-3">Details</h6>
                                        </div>
                                        <div class="mb-4 px-3">
                                            <div class="border-bottom py-3">
                                                <small class="text-muted">Payment Type</small>
                                                <div class="h6 mb-0 pt-3">Internal Transfer</div>
                                            </div>
                                            <div class="border-bottom py-3">
                                                <small class="text-muted">Status</small>
                                                <div class="h6 mb-0 pt-3">Complete</div>
                                            </div>
                                            <div class="border-bottom py-3">
                                                <small class="text-muted">Transaction Id</small>
                                                <div class="h6 mb-0 pt-3"
                                                     th:text="'NVF253688' + ${transaction.transactionId}">NVF25680222
                                                </div>
                                            </div>
                                            <div class="border-bottom py-3">
                                                <small class="text-muted">Date &amp; Time</small>
                                                <div class="h6 mb-0 pt-3"
                                                     th:text="${#temporals.format(transaction.transactionTime, 'yyyy-MM-dd HH:mm:ss')}">
                                                    Feb 05, 2024 At 18:20
                                                </div>
                                            </div>
                                            <div class="border-bottom py-3">
                                                <small class="text-muted">Message</small>
                                                <div class="h6 mb-0 pt-3" th:text="${transaction.getMessage()}">#4433
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
<!-- start: Transection details rate -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas_trdetails" aria-labelledby="offcanvas_trdetails">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Transaction Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body px-0">
        <div class="mb-4 p-3 bg-light">
            <h6 class="text-muted mb-0">Amount</h6>
        </div>
        <div class="mb-4 px-3">
            <h3>$500.00</h3>
        </div>
        <div class="mb-4 p-3 bg-light">
            <h6 class="text-muted mb-0">To</h6>
        </div>
        <div class="mb-4 px-3">
            <div class="d-flex align-items-center mb-3">
                <img class="avatar rounded-circle" src="../static/images/lg/avatar1.jpg" alt=""
                     th:src="@{/images/lg/avatar1.jpg}">
                <div class="flex-fill ms-3">
                    <div class="h6 mb-0">Jony Doe</div>
                    <small class="text-muted">**** ****2498 DBS Bank</small>
                </div>
            </div>
        </div>
        <div class="mb-4 p-3 bg-light">
            <h6 class="text-muted mb-0">Details</h6>
        </div>
        <div class="mb-4 px-3">
            <div class="border-bottom py-3">
                <small class="text-muted">Payment Method</small>
                <div class="h6 mb-0">Wire</div>
            </div>
            <div class="border-bottom py-3">
                <small class="text-muted">Status</small>
                <div class="h6 mb-0">Checking</div>
            </div>
            <div class="border-bottom py-3">
                <small class="text-muted">Transaction Id</small>
                <div class="h6 mb-0">NVF25680222</div>
            </div>
            <div class="border-bottom py-3">
                <small class="text-muted">Date &amp; Time</small>
                <div class="h6 mb-0">Feb 05, 2024 At 18:20</div>
            </div>
            <div class="border-bottom py-3">
                <small class="text-muted">Fee</small>
                <div class="h6 mb-0">$0.2</div>
            </div>
        </div>
    </div>
</div>
<!-- start: exchange rate -->
<div th:replace="~{fragments/general-fragments :: exchange-rate}"></div>

<th:block th:replace="~{fragments/general-fragments.html :: scripts}"></th:block>
<link rel="stylesheet" href="../static/vendor/dataTables.css" th:href="@{/vendor/dataTables.css}"/>

<script src="../static/bundles/dataTables.bundle.js" th:src="@{/bundles/dataTables.bundle.js}"></script>

<script th:inline="javascript">

    const conversionRates = {
        EUR: 1.09,
        GBP: 1.30,
        USD: 1,
    };

    const today = new Date().getDate();

    let allDates = document.querySelectorAll('.nav-link');


    allDates.forEach(date => {
        let dateNumber = parseInt(date.textContent);

        if (dateNumber === today) {
            date.classList.add('active');
        }
    });

    document.addEventListener("DOMContentLoaded", function () {
        // Scroll handling for .calendar-tab .nav
        const scrollContainer = document.querySelector(".calendar-tab .nav");
        if (scrollContainer) {
            scrollContainer.addEventListener("wheel", (evt) => {
                evt.preventDefault();
                scrollContainer.scrollLeft += evt.deltaY;
            });
        }
    });

    $(document).ready(function () {
        // Initialize DataTable


        $('#transfersTable').DataTable({
            responsive: true,
            "columnDefs": [
                {
                    "targets": 1,
                    "render": function (data, type, row) {


                        if (type === 'display') {
                            return data;
                        }

                        let rate = conversionRates[data.slice(-3)];

                        let num = data.match(/[-+]?[0-9]*\.?[0-9]+/);
                        return num ? parseFloat(num[0]) * rate : data;
                    },
                    "orderDataType": "numeric"
                }
            ]
        });


    });

</script>


</body>

</html>