<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general-fragments :: head('YNPay :: Wallets')}"></head>

<body data-theme="theme-AppleGreen" class="svgstroke-a">
<main class="container-fluid px-0">
    <!-- start: page menu link -->
    <div th:replace="~{fragments/general-fragments :: sidebar}"></div>
    <div class="content">
        <!-- start: page header -->
        <div th:replace="~{fragments/general-fragments :: main-header('Wallets')}"></div>
        <!-- start: page header area -->
        <div class="px-xl-5 px-lg-4 px-3 py-2 page-header flex-wrap">
            <ol class="breadcrumb mb-0 bg-transparent mb-3 mb-sm-0">
                <li class="breadcrumb-item"><a class="text-muted" href="index.html" title="home"
                                               th:href="@{/ui/users/dashboard}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page" title="Wallets">Wallets</li>
            </ol>
            <ul class="list-unstyled action row g-2 mb-0 ">


                <li class="col-sm-12 col-12">
                    <a th:href="@{/ui/wallets/new}" href="card-add.html" class="btn btn-dark w-100">Add Wallet
                    </a>
                </li>

            </ul>
        </div>
        <!-- start: page body area -->
        <div class="px-xl-5 px-lg-4 px-3 py-3 page-body">
            <div class="row g-3 mb-3 row-deck">
                <div th:each="wallet : ${wallets}" class="col-12 col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title mb-0" th:text="'IBAN33YNPAY68477732491843244' + ${wallet.id}">First
                                Wallet</h6>
                            <div class="card-action">
                                <div>
                                    <a href="#" class="card-fullscreen" data-bs-toggle="tooltip"
                                       aria-label="Card Full Screen"
                                       data-bs-original-title="Card Full Screen">
                                        <svg class="svg-stroke" xmlns="http://www.w3.org/2000/svg"
                                             width="20" height="20" viewBox="0 0 24 24" fill="none"
                                             stroke="currentColor" stroke-linecap="round"
                                             stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path
                                                    d="M21 12v3a1 1 0 0 1 -1 1h-16a1 1 0 0 1 -1 -1v-10a1 1 0 0 1 1 -1h9">
                                            </path>
                                            <path d="M7 20l10 0"></path>
                                            <path d="M9 16l0 4"></path>
                                            <path d="M15 16l0 4"></path>
                                            <path d="M17 4h4v4"></path>
                                            <path d="M16 9l5 -5"></path>
                                        </svg>
                                    </a>


                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card">
                                <div class="card-header">
                                    <div class="me-2">
                                        <!-- US Dollar -->
                                        <img th:if="${wallet.currency == 'USD'}"
                                             th:src="@{/images/flags/1x1/um.svg}"
                                             alt="USD Flag" class="img-fluid rounded-circle avatar sm">

                                        <img th:if="${wallet.currency == 'EUR'}"
                                             th:src="@{/images/flags/1x1/eu.svg}"
                                             alt="EUR Flag" class="img-fluid rounded-circle avatar sm">

                                        <img th:if="${wallet.currency == 'GBP'}"
                                             th:src="@{/images/flags/1x1/gb.svg}"
                                             alt="GBP Flag" class="img-fluid rounded-circle avatar sm">

                                    </div>
                                    <h6 class="card-title mb-0 me-auto"
                                        th:if="${wallet.currency == 'USD'}">
                                        US Dollar</h6>
                                    <h6 class="card-title mb-0 me-auto"
                                        th:if="${wallet.currency == 'EUR'}">
                                        Euro</h6>
                                    <h6 class="card-title mb-0 me-auto"
                                        th:if="${wallet.currency == 'GBP'}">
                                        British Pound</h6>

                                </div>
                                <div class="card-body">
                                    <h2>
                                        <span th:if="${wallet.currency == 'USD'}">$
                                        </span>
                                        <span th:if="${wallet.currency == 'EUR'}">€</span>
                                        <span th:if="${wallet.currency == 'GBP'}">£</span>
                                        <span th:text="${wallet.balance}"></span>
                                    </h2>

                                </div>
                            </div>
                            <hr>
                            <a type="button" class="btn me-1 btn-grey-outline w-100"
                               th:href="'#sideModal' + ${wallet.id}" data-bs-toggle="offcanvas" aria-expanded="false">
                                Details
                            </a>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</main>
<!-- start: Add New Balance -->
<div th:each="wallet : ${wallets}">
    <div class="offcanvas offcanvas-end" tabindex="-1" th:id="'sideModal' + ${wallet.id}"
         aria-labelledby="offcanvas_balance">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" th:text="'IBAN33YNPAY68477732491843244' + ${wallet.id}">Add New Balance</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body px-0">
            <div class="mb-4 p-3 bg-light">
                <h6 class="text-muted mb-0">Wallet Holders</h6>
            </div>
            <div class="mb-4 px-3">

                <div class="card mb-2">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="avatar rounded-circle no-thumbnail">
                                <img alt="Profile Picture" src="../static/images/xs/avatar1.jpg"
                                     class="avatar rounded-circle d-none d-sm-inline-block"
                                     onerror="this.onerror=null; this.src='/images/xs/avatar1.jpg';"
                                     th:src="@{/ui/uploads/picture{username}3.jpg(username=${wallet.creator.username})}"/>
                            </div>
                            <div class="mx-2">
                                <h6 class="mb-0">
                                    <span th:text="${wallet.creator.username}">Balance</span>

                                </h6>

                                    <span class="text-muted" th:text="${wallet.creator.fullName}">Send, receive, and spend money</span>
                                    <span class="text-muted" th:if="${wallet.walletHolders.size()>1}"
                                          style="font-style: italic !important;"> (Wallet Admin)</span>

                            </div>
                        </div>
                    </div>
                </div>

                <form th:action="@{/ui/wallets/{walletId}/remove(walletId=${wallet.id})}" method="get" >
                    <div th:if="${wallet.walletHolders.size() > 1}" th:each="holder : ${wallet.walletHolders}" class="card mb-2">
                        <div class="card-body" th:if="${holder.username != wallet.creator.username}">
                            <div class="d-flex align-items-center">
                                <div class="avatar rounded-circle no-thumbnail">
                                    <img alt="Profile Picture" src="../static/images/xs/avatar1.jpg"
                                         class="avatar rounded-circle d-none d-sm-inline-block"
                                         onerror="this.onerror=null; this.src='/images/xs/avatar1.jpg';"
                                         th:src="@{/ui/uploads/picture{username}3.jpg(username=${holder.username})}"/>
                                </div>
                                <div class="mx-2">
                                    <h6 class="mb-0" th:text="${holder.username}">Username</h6>
                                    <span class="text-muted" th:text="${holder.fullName}">Full name</span>
                                </div>
                                <div class="ms-auto form-check"
                                     th:if="${holder.username != wallet.creator.username and loggedUsername == wallet.creator.username}">
                                    <input class="form-check-input" type="radio" th:name="username"
                                           th:value="${holder.username}" id="radio_${holder.username}" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn w-100 me-1 py-2 btn-dark"
                            th:if="${loggedUsername == wallet.creator.username and wallet.walletHolders.size() > 1}">
                        Remove from wallet
                    </button>
                </form>




            </div>
            <div th:if="${loggedUsername == wallet.creator.username}" class="mb-4 p-3 bg-light">
                <h6 class="text-muted mb-0">Add User to Wallet</h6>
            </div>

            <!-- Form to submit the username -->

            <form th:if="${loggedUsername == wallet.creator.username}" th:action="@{/ui/wallets/{walletId}/add(walletId=${wallet.id})}" method="post" class="px-3">
                    <input type="text" name="username" class="form-control me-2" placeholder="Enter username" required />
                <br>
                    <button type="submit" class="btn w-100 py-2 btn-dark">Add to Wallet</button>
                </form>



        </div>
    </div>
</div>

<!-- Success Toast Notification -->
<div id="successToastCreate" class="toast position-fixed top-0 start-50 translate-middle-x p-3 mt-3"
     role="alert" aria-live="assertive" aria-atomic="true"
     th:if="${creationSuccess}" style="z-index: 1050;">
    <div class="toast-header bg-success rounded-2 text-white">
        <strong class="text-end">Success</strong>
        <button type="button" class="ms-auto btn-close btn-close-white" data-bs-dismiss="toast"
                aria-label="Close"></button>
    </div>
    <div class="toast-body mt-2 ps-0">
        <ul class="mb-0">
            <li> Wallet created successfully.</li>
        </ul>
    </div>
</div>

<!-- Success Toast Notification -->
<div id="addingSuccess" class="toast position-fixed top-0 start-50 translate-middle-x p-3 mt-3"
     role="alert" aria-live="assertive" aria-atomic="true"
     th:if="${addingSuccess != null and addingSuccess.trim() != ''}" style="z-index: 1050;">
    <div class="toast-header bg-success rounded-2 text-white">
        <strong class="text-end">Success</strong>
        <button type="button" class="ms-auto btn-close btn-close-white" data-bs-dismiss="toast"
                aria-label="Close"></button>
    </div>
    <div class="toast-body mt-2 ps-0">
        <ul class="mb-0">
            <li th:text="'User ' + ${addingSuccess} + ' successfully added to wallet.'"> User added successfully.</li>
        </ul>
    </div>
</div>

<!-- Success Toast Notification -->
<div id="addingErrors" class="toast position-fixed top-0 start-50 translate-middle-x p-3 mt-3"
     role="alert" aria-live="assertive" aria-atomic="true"
     th:if="${addingErrors != null and addingErrors.trim() != ''}" style="z-index: 1050;">
    <div class="toast-header bg-danger rounded-2 text-white">
        <strong class="text-end">Error</strong>
        <button type="button" class="ms-auto btn-close btn-close-white" data-bs-dismiss="toast"
                aria-label="Close"></button>
    </div>
    <div class="toast-body mt-2 ps-0">
        <ul class="mb-0">
            <li th:text="${addingErrors}"> User added successfully.</li>
        </ul>
    </div>
</div>

<!-- Success Toast Notification -->
<div id="removalSuccess" class="toast position-fixed top-0 start-50 translate-middle-x p-3 mt-3"
     role="alert" aria-live="assertive" aria-atomic="true"
     th:if="${removalSuccess != null and removalSuccess.trim() != ''}" style="z-index: 1050;">
    <div class="toast-header bg-success rounded-2 text-white">
        <strong class="text-end">Success</strong>
        <button type="button" class="ms-auto btn-close btn-close-white" data-bs-dismiss="toast"
                aria-label="Close"></button>
    </div>
    <div class="toast-body mt-2 ps-0">
        <ul class="mb-0">
            <li th:text="'User ' + ${removalSuccess} + ' successfully removed from wallet.'"> User added successfully.</li>
        </ul>
    </div>
</div>

<!-- Success Toast Notification -->
<div id="removalErrors" class="toast position-fixed top-0 start-50 translate-middle-x p-3 mt-3"
     role="alert" aria-live="assertive" aria-atomic="true"
     th:if="${removalErrors != null and removalErrors.trim() != ''}" style="z-index: 1050;">
    <div class="toast-header bg-danger rounded-2 text-white">
        <strong class="text-end">Error</strong>
        <button type="button" class="ms-auto btn-close btn-close-white" data-bs-dismiss="toast"
                aria-label="Close"></button>
    </div>
    <div class="toast-body mt-2 ps-0">
        <ul class="mb-0">
            <li th:text="${removalErrors}"> User removed unsuccessfully.</li>
        </ul>
    </div>
</div>

<!-- Error Toast Notification -->
<div id="failToastCreate" class="toast position-fixed top-0 start-50 translate-middle-x p-3 mt-3"
     role="alert" aria-live="assertive" aria-atomic="true"
     th:if="${creationErrors != null and creationErrors.trim() != ''}" style="z-index: 1050;">
    <div class="toast-header bg-danger rounded-2 text-white">
        <strong class="text-end">Error</strong>
        <button type="button" class="ms-auto btn-close btn-close-white" data-bs-dismiss="toast"
                aria-label="Close"></button>
    </div>
    <div class="toast-body mt-2 ps-0">
        <ul class="mb-0">
            <li th:text="${creationErrors}"> Wallet created successfully.</li>
        </ul>
    </div>
</div>


<!-- start: exchange rate -->
<div th:replace="~{fragments/general-fragments :: exchange-rate}"></div>

<!--============== active class js =============-->
<th:block th:replace="~{fragments/general-fragments.html :: scripts}"></th:block>
<script>
    $(document).ready(function () {
        // Stacked Area
        var options = {
            chart: {
                height: 200,
                type: 'area',
                stacked: true,
                toolbar: {
                    show: false,
                },
                events: {
                    selection: function (chart, e) {
                        console.log(new Date(e.xaxis.min))
                    }
                },
            },
            colors: ['#e4bd51'],
            dataLabels: {
                enabled: false
            },

            series: [
                {
                    name: 'Central',
                    data: generateDayWiseTimeSeries(new Date('14 Aug 2024 GMT').getTime(), 10, {
                        min: 20,
                        max: 48
                    })
                }
            ],
            fill: {
                type: 'gradient',
                gradient: {
                    opacityFrom: 0.6,
                    opacityTo: 0.8,
                }
            },
            legend: {
                position: 'top',
                horizontalAlign: 'right',
                show: true,
            },
            xaxis: {
                type: 'datetime',
            },
            grid: {
                yaxis: {
                    lines: {
                        show: false,
                    }
                },
                padding: {
                    top: 0,
                    right: 0,
                    bottom: 0,
                    left: 0
                },
            },
            stroke: {
                show: true,
                curve: 'smooth',
                width: 2,
            },
        }
        var chart = new ApexCharts(document.querySelector("#movement-apex"), options);
        chart.render();

        function generateDayWiseTimeSeries(baseval, count, yrange) {
            var i = 0;
            var series = [];
            while (i < count) {
                var x = baseval;
                var y = Math.floor(Math.random() * (yrange.max - yrange.min + 1)) + yrange.min;

                series.push([x, y]);
                baseval += 86400000;
                i++;
            }
            return series;
        }


    });
</script>

<script>

    document.addEventListener("DOMContentLoaded", function () {


        let successToastCreateAlert = document.getElementById('successToastCreate');
        if (successToastCreateAlert) {
            let toast = new bootstrap.Toast(successToastCreateAlert, {delay: 5000});
            toast.show();
        }

        let failToastCreateAlert = document.getElementById('failToastCreate');
        if (failToastCreateAlert) {
            let toast = new bootstrap.Toast(failToastCreateAlert, {delay: 5000});
            toast.show();
        }

        let addingSuccess = document.getElementById('addingSuccess');
        if (addingSuccess) {
            let toast = new bootstrap.Toast(addingSuccess, {delay: 5000});
            toast.show();
        }

        let addingErrors = document.getElementById('addingErrors');
        if (addingErrors) {
            let toast = new bootstrap.Toast(addingErrors, {delay: 5000});
            toast.show();
        }

        let removalSuccess = document.getElementById('removalSuccess');
        if (removalSuccess) {
            let toast = new bootstrap.Toast(removalSuccess, {delay: 5000});
            toast.show();
        }

        let removalErrors = document.getElementById('removalErrors');
        if (removalErrors) {
            let toast = new bootstrap.Toast(removalErrors, {delay: 5000});
            toast.show();
        }
    });


</script>


</body>

</html>